<div class="d-flex justify-content-center mt-5 gap-3">

    <button (click)="setRole('grocer')">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Tendero
        </span>
      </button>

      <button (click)="setRole('company')">
        <span class="shadow"></span>
        <span class="edge"></span>
        <span class="front text"> Compañia
        </span>
      </button>

    
</div>

<div *ngIf="isRole('grocer')">
    <app-register-grocer></app-register-grocer>
</div>

<div *ngIf="isRole('company')">
    <app-register-company></app-register-company>
</div>