<!-- <div class="content">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="nit_company" placeholder="Nit">
            <input type="text" formControlName="name_company" placeholder="Nombre de la compañia">
            <input type="email" formControlName="email_company" placeholder="Correo electrónico">
            <input type="password" formControlName="password_company" placeholder="Contraseña">
            <input type="tel" formControlName="national_line_company" placeholder="Linea nacional telefónica">
            <input type="date" formControlName="foundation_company" placeholder="Fecha de fundación de la compañía">
            <input type="text" formControlName="description_company" placeholder="Breve descripción de la empresa">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>






 -->


<section class="h-100 bg-white">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col">
                <div class="card card-registration my-4">
                    <form class="row g-0" [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="col-xl-6 d-none d-xl-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                                alt="Sample photo" class="img-fluid"
                                style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
                        </div>
                        <div class="col-xl-6">
                            <div class="card-body p-md-5 text-black ">
                                <h3 style="color: orange;" class="mb-5 text-uppercase d-flex justify-content-center">
                                    Registrar compañia</h3>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="nit_company" placeholder=""
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1m">Nit</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="text" formControlName="name_company" placeholder=""
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1n">Nombre de la compañia</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="email" formControlName="email_company" placeholder=""
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1m1">Email</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6 mb-4">
                                        <div class="form-outline">
                                            <input type="tel" formControlName="national_line_company" placeholder=""
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Example1n1">Telefono</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="date" formControlName="foundation_company" placeholder=""
                                        class="form-control form-control-lg" [max]="this.fecha" />
                                    <label class="form-label" for="form3Example8">Fecha de fundación de la
                                        compañía</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input input type="password" formControlName="password_company" placeholder=""
                                        class="form-control form-control-lg" />
                                    <label class="form-label" for="form3Example9">Contraseña</label>
                                </div>

                                <div class="form-outline mb-4">
                                    <input type="text" formControlName="description_company" placeholder=""
                                        class="form-control form-control-lg form-outline" />
                                    <label class="form-label" for="form3Example90">Breve descripción de la
                                        empresa</label>
                                </div>
                                <p-toast position="center" key="center"></p-toast>
                                <div class="d-flex justify-content-center pt-3">
                                    <button type="submit" class="btn btn-warning btn-lg ms-2">Enviar</button>
                                </div>

                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>