<section class="text-center">
    <div class="p-5 bg-image"
        style="background-image: url('https://minutehack.com/public/images/articles/2016/03/world-map.jpg'); height: 300px; width: 900px;">
    </div>
    <div class="card mx-4 mx-md-5 shadow-5-strong"
        style="margin-top: -100px; background: hsla(0, 0%, 100%, 0.836); backdrop-filter: blur(10px);">
        <div class="card-body">

            <div class="row d-flex justify-content-center">
                <div class="col-lg-10">
                    <h2 class="fw-bold mb-5">Registro de Proveedor</h2>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-outline">
                                    <input type="text" id="name_provider" class="form-control"
                                        formControlName="name_provider" />
                                    <label class="form-label" for="name_provider">Nombre</label>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-outline">
                                    <input type="text" id="last_name_provider" class="form-control"
                                        formControlName="last_name_provider" />
                                    <label class="form-label" for="last_name_provider">Apellidos</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-outline">
                                    <input type="text" id="nit_provider" class="form-control"
                                        formControlName="nit_provider" />
                                    <label class="form-label" for="nit_provider">NIT</label>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-outline ">
                                    <input type="text" id="city_provider" class="form-control"
                                        formControlName="city_provider" />
                                    <label class="form-label" for="city_provider">Ciudad</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-outline ">
                            <input type="text" id="name_company" class="form-control" formControlName="name_company" />
                            <label class="form-label" for="name_company">Nombre de la empresa</label>
                        </div>

                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-outline ">
                                    <input type="text" id="number_provider" class="form-control"
                                        formControlName="number_provider" />
                                    <label class="form-label" for="number_provider">Teléfono</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-outline">
                                    <input type="text" id="neighborhood" class="form-control"
                                        formControlName="neighborhood" />
                                    <label class="form-label" for="neighborhood">Barrio</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6 ">
                                <div class="form-outline ">
                                    <input type="text" id="street" class="form-control" formControlName="street" />
                                    <label class="form-label" for="street">Calle</label>
                                </div>
                            </div>
                            <div class="col-md-6 ">
                                <div class="form-outline">
                                    <input type="text" id="number_street" class="form-control"
                                        formControlName="number_street" />
                                    <label class="form-label" for="number_street">Número</label>
                                </div>
                            </div>
                        </div>
                                <div class="form-outline">
                                    <input type="email" id="email_provider" class="form-control"
                                        formControlName="email_provider" />
                                    <label class="form-label" for="email_provider">Correo</label>
                                </div>
                                <div class="form-outline mb-4">
                                    <input type="password" id="password_provider" class="form-control"
                                        formControlName="password_provider" />
                                    <label class="form-label" for="password_provider">Contraseña</label>
                                </div>
                                <button type="submit" class="btn btn-primary btn-block mb-4">
                                    Registrarse
                                </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>