<div class="container bg-light" style="border-top-left-radius: 10px;">
    <div class="row d-flex justify-content-between align-items-center color_border p-0"
        style="border-top-left-radius: 10px;">
        <div class="col">
            <h2 class="m-0" style="color: orangered;">Chat</h2>
        </div>
        <div class="col text-end p-0">
            <button type="button" class="btn btn-danger rounded-0" data-bs-dismiss="offcanvas" aria-label="Close">Cerrar
                chat</button>
        </div>
    </div>
    <div class="row">
        <div class="col-4 d-none d-md-flex"
            style="border-right: 1px rgb(165, 165, 165) solid; border-left: 1px rgb(165, 165, 165) solid; ">
            <div class="overflow-auto w-100" style="height: 500px" *ngIf="auth.isGrocer() | async">
                <h5 style="padding-top: 20px;">Lista de chats</h5>
                <div *ngFor="let chat of list_chat" class="d-flex flex-column p-2">
                    <div class="user_chat d-flex w-100 justify-content-center" (click)="chatear(chat)"
                        style="cursor: pointer; padding: 5px; border-radius: 5px;">
                        <div class="d-flex align-items-center justify-content-between w-100 gap-2 border">
                            <div class="img">
                                <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider"
                                    [imageType]="'photo'" width="40px" height="40px" class="mr-2">
                            </div>
                            <div class="name flex-grow-1">
                                <p class="mb-0">
                                    {{chat.dataUser.name_provider}} {{chat.dataUser.last_name_provider}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-auto w-100" style="height: 500px" *ngIf="auth.isProvider() | async">
                <h5 style="padding-top: 20px;">Lista de chats</h5>
                <div *ngFor="let chat of list_chat" class="d-flex flex-column p-2 ">
                    <div class="user_chat d-flex w-100 justify-content-center"
                        style="cursor: pointer; padding: 5px; border-radius: 5px;" (click)="chatear(chat)">
                        <div class="d-flex align-items-center justify-content-between w-100 gap-2 border">
                            <div class="img">
                                <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider"
                                    [imageType]="'photo'" width="40px" height="40px" class="mr-2">
                            </div>
                            <div class="name flex-grow-1">
                                <p class="mb-0">
                                    {{chat.dataUser.name_grocer}} {{chat.dataUser.last_name_grocer}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="page == 1 && !is_chat" class="col d-flex d-md-none color_border" style="height: 500px;">
            <div class="overflow-auto w-100" style="height: 500px" *ngIf="auth.isGrocer() | async">
                <h5 style="padding-top: 20px;">Lista de chats</h5>
                <div *ngFor="let chat of list_chat" class="d-flex flex-column p-2 ">
                    <div class="user_chat d-flex w-100 justify-content-center" (click)="chatear(chat)"
                        style="cursor: pointer; padding: 5px; border-radius: 5px;">
                        <div class="d-flex align-items-center justify-content-between w-100 gap-2 border">
                            <div class="img">
                                <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider"
                                    [imageType]="'photo'" width="40px" height="40px" class="mr-2">
                            </div>
                            <div class="name flex-grow-1">
                                <p class="mb-0">
                                    {{chat.dataUser.name_provider}} {{chat.dataUser.last_name_provider}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="overflow-auto w-100" style="height: 500px" *ngIf="auth.isProvider() | async">
                <h5 style="padding-top: 20px;">Lista de chats</h5>
                <div *ngFor="let chat of list_chat" class="d-flex flex-column p-2 ">
                    <div class="user_chat d-flex w-100 justify-content-center"
                        style="cursor: pointer; padding: 5px; border-radius: 5px;" (click)="chatear(chat)">
                        <div class="d-flex align-items-center justify-content-between w-100 gap-2 border">
                            <div class="img">
                                <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider"
                                    [imageType]="'photo'" width="40px" height="40px" class="mr-2">
                            </div>
                            <div class="name flex-grow-1">
                                <p class="mb-0">
                                    {{chat.dataUser.name_grocer}} {{chat.dataUser.last_name_grocer}}
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div *ngIf="is_chat" class="col-12 d-flex flex-column justify-content-between col-md-8"
            style="height: 500px; background-color: rgb(243, 243, 243)">
            <div *ngIf="is_chat" class="row align-items-center justify-content-between color_border"
                style="background-color: rgb(255, 255, 255);">
                <div class="col">
                    <p class="mb-0 fw-bold" *ngIf="data_chat && data_chat.provider && auth.isGrocer() | async">{{
                        data_chat.provider[0].name_provider }}</p>
                    <p class="mb-0 fw-bold" *ngIf="data_chat && data_chat.provider && auth.isProvider() | async">{{
                        data_chat.grocer[0].name_grocer }}</p>
                </div>
                <div class="col-auto">
                    <button type="button" class="border-0 bg-transparent" (click)="changePage(1)"><i
                            class="fas fa-times"></i></button>
                </div>
            </div>
            <div *ngIf="is_chat" class="row">
                <div class="overflow-auto" style="height: 400px" #messageContainer>
                    <div *ngFor="let message of messages" class="message">
                        <div *ngIf="isMyMessage(message.sender)" class="my-message d-flex flex-column"
                            style="text-align: right;">
                            <p *ngIf="data_chat">{{nameSender}}</p>
                            <span style="background-color:  #e66d3d; color: white; border-radius: 10px;" class="p-2">{{
                                message.content }}</span>
                            <p style="font-size: 12px;">{{ message.timestamp | date:'short'}}</p>
                        </div>
                        <div *ngIf="!isMyMessage(message.sender)" class="their-message d-flex flex-column">
                            <p *ngIf="data_chat">{{nameSender}}</p>
                            <span style="background-color: rgb(219, 218, 218); border-radius: 10px;" class="p-2">{{
                                message.content }}</span>
                            <p style="font-size: 12px;">{{ message.timestamp | date:'short'}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="is_chat" class="row d-flex color_border">
                <input class=" col-10" type="text" [(ngModel)]="messageText" placeholder="Escribe un mensaje..."
                    (keyup.enter)="sendMessage()">
                <button type="button" class="btn btn-primary rounded-0 col-2" (click)="sendMessage()">Enviar</button>
            </div>
        </div>
        <div *ngIf="!is_chat"
            class="col-12 border color_border d-none d-md-flex flex-column justify-content-center align-items-center col-md-8"
            style="height: 500px;">
            <img class="" style="width: 200px;"
                src="https://res.cloudinary.com/ddio1oisb/image/upload/v1712266997/pc_chat-removebg-preview_rdqiod.png"
                alt="">
            <p>Chat ProveerTen</p>
        </div>
    </div>
</div>