<div class="container d-flex justify-content-center align-items-center">

    <div border>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div>
                <label for="document_provider">Document:</label>
                <input id="document_provider" type="text" formControlName="document_provider">
            </div>

            <div>
                <label for="name_provider">Name Provider:</label>
                <input id="name_provider" type="text" formControlName="name_provider">
            </div>

            <div>
                <label for="last_name_provider">Last Name Provider:</label>
                <input id="last_name_provider" type="text" formControlName="last_name_provider">
            </div>

            <div>
                <label for="email_provider">Email Provider:</label>
                <input id="email_provider" type="text" formControlName="email_provider">
            </div>
            <div>
                <label for="number_provider">Number Provider:</label>
                <input id="number_provider" type="text" formControlName="number_provider">
            </div>

            <div>
                <label for="city_provider">City Provider:</label>
                <input id="city_provider" type="text" formControlName="city_provider">
            </div>

            <div>
                <label for="neighborhood">Neighborhood:</label>
                <input id="neighborhood" type="text" formControlName="neighborhood">
            </div>

            <div>
                <label for="street">Street:</label>
                <input id="street" type="text" formControlName="street">
            </div>

            <div>
                <label for="number_street">Number Street:</label>
                <input id="number_street" type="text" formControlName="number_street">
            </div>

            <button type="submit">Enviar</button>
        </form>
    </div>

    <div>
        <form [formGroup]="formPassword" (ngSubmit)="onSubmitPassword()">
            <div>
                <label for="password_provider">Password Provider:</label>
                <input id="password_provider" type="text" formControlName="password_provider">
            </div>
            <button type="submit">Enviar</button>
        </form>
    </div>
</div>
<button (click)="cancel()">Cancelar</button>