  <head>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
  </head>

<footer>
  <div class="footer-col">
      <h4>Productos</h4>
      <ul>
          <li><a href="#">Grupo</a></li>
          <li><a href="#">Advertencias</a></li>
          <li><a href="#">talentos</a></li>
      </ul>
  </div>
  <div class="footer-col">
      <h4>Sitio Web</h4>
      <ul>
          <li><a href="#">tecnologias</a></li>
          <li><a href="#">Seguridad</a></li>
          <li><a href="#">Negocios</a></li>
          <li><a href="#">Profesionales</a></li>
          <li><a href="#">API</a></li>
      </ul>
  </div>
  <div class="footer-col">
      <h4>Compañia</h4>
      <ul>
          <li><a href="#">A cerca de</a></li>
          <li><a href="#">Legal</a></li>
          <li><a href="#">Contactos</a></li>
      </ul>
  </div>
  <div class="footer-col">
      <h4>Redes</h4>
      <div class="links">
          <a href="#"><i class="fab fa-linkedin-in"></i></a>
          <a href="#"><i class="fab fa-facebook-f"></i></a>
          <a href="#"><i class="fab fa-twitter"></i></a>
          <a href="#"><i class="fab fa-instagram"></i></a>
      </div>
  </div>
