<!-- <head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<footer>
    <div class="footer-col">
        <h4>Productos</h4>
        <ul>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Compañias</a></li>
            <li><a href="#">Precios</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Sitio Web</h4>
        <ul>
            <li><a href="#">tecnologias</a></li>
            <li><a href="#">Seguridad</a></li>
            <li><a href="#">Negocios</a></li>
            <li><a href="#">Profesionales</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Compañia</h4>
        <ul>
            <li><a href="#">A cerca de</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Redes</h4>
        <div class="links">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div> -->

<div class="container">
    <footer class="container-fluid bg-danger text-light py-4">
        <div class="container">
            <div class="row">
                <div class="col-md-4 mb-4">
                    <h5 class="mb-3"><i class="fa-solid fa-store" style="color: #ffffff;"></i> ProveerTen</h5>
                    <hr>
                    <p>
                        Plataforma web para mejorar la comunicación entre empresas minoristas y tenderos. Permite
                        exhibir productos de forma atractiva y detallada a través de perfiles personalizados,
                        facilitando la gestión de pedidos y aumentando la visibilidad en el mercado.
                    </p>
                </div>
                <div class="col-md-4 mb-4 text-center">
                    <h5 class="mb-3">Integrantes</h5>
                    <hr>
                    <ul class="list-unstyled">
                        <li>Ana Sofia Martínez,</li>
                        <li>Jhon Stiven Arcila,</li>
                        <li>Juan Camilo Quintero,</li>
                        <li>Jerónimo Duque Rincón,</li>
                        <li>Juan Diego Galvis,</li>
                        <li>Johan Felipe Hernández,</li>
                        <li>Jhoan Alejandro Alvarado.</li>
                    </ul>
                </div>
                <div class="col-md-4 mb-4">
                    <h5 class="mb-3 text-center">Enlaces externos</h5>
                    <hr>
                    <ul class="list-unstyled text-center">
                        <li><a href="https://github.com/ProveerTen" class="text-light" target="_blank"><i
                                    class="fab fa-github"></i> GitHub</a></li>
                    </ul>
                </div>
                <div class="col-12 text-center">
                    <p class="small">
                        &copy; 2024 ProveerTen. Todos los derechos reservados. Las imágenes y marcas de empresas
                        utilizadas en este sitio web son solo con fines educativos y de demostración.
                    </p>
                </div>
            </div>
        </div>
    </footer>
</div>