<!-- <head>
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
</head>

<footer>
    <div class="footer-col">
        <h4>Productos</h4>
        <ul>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">Compañias</a></li>
            <li><a href="#">Precios</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Sitio Web</h4>
        <ul>
            <li><a href="#">tecnologias</a></li>
            <li><a href="#">Seguridad</a></li>
            <li><a href="#">Negocios</a></li>
            <li><a href="#">Profesionales</a></li>
            <li><a href="#">API</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Compañia</h4>
        <ul>
            <li><a href="#">A cerca de</a></li>
            <li><a href="#">Legal</a></li>
            <li><a href="#">Contactos</a></li>
        </ul>
    </div>
    <div class="footer-col">
        <h4>Redes</h4>
        <div class="links">
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
        </div>
    </div> -->









<div class="container-fluid my-5 text-white " style="height: 100vh;">
    <footer class="d-flex justify-content-center align-items-center" style="background-color:  background: rgb(255, 49, 49);
        background: linear-gradient(40deg, rgba(255, 49, 49, 1) 0%, rgba(255, 145, 77, 1) 100%);">
        <div class="container p-4">
            <div class="row">
                <div class="col-lg-6 col-md-12 mb-4">
                    <h5 class="mb-3"><strong>Descripción</strong></h5>
                    <hr>
                    <p>
                        Plataforma web para mejorar la comunicación entre empresas minoristas y tenderos. Permite exhibir productos de forma atractiva y detallada a través de perfiles personalizados, facilitando la gestión de pedidos y aumentando la visibilidad en el mercado.
                    </p>
                </div>

                <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
                    <h6 class="text-uppercase mb-4 font-weight-bold"><strong>Redes</strong> </h6>

                    <!-- Facebook -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #3b5998" href="#!"
                        role="button"><i class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #55acee" href="#!"
                        role="button"><i class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ff1e00" href="#!"
                        role="button"><i class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #ac2bac" href="#!"
                        role="button"><i class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #0082ca" href="#!"
                        role="button"><i class="fab fa-linkedin-in"></i></a>
                    <!-- Github -->
                    <a class="btn btn-primary btn-floating m-1" style="background-color: #333333" href="#!"
                        role="button"><i class="fab fa-github"></i></a>
                </div>

            <div class="">
                <div class="d-flex justify-content-center">
                    <h5 class="mb-3"><strong>Integrantes </strong></h5>

                </div>
                <ul class="list-unstyled d-flex justify-content-center align-items-center flex-wrap">
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Ana Sofia Martínez,</a>
                    </li>
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Jhon Stiven Arcila,</a>
                    </li>
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Juan Camilo Quintero,</a>
                    </li>
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Jerónimo Duque Rincón,</a>
                    </li>
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Juan Diego Galvis,</a>
                    </li>
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Johan Felipe Hernández,</a>
                    </li>
                    <li>
                        <a class="mx-1" style="color: rgb(250, 206, 149)">Jhoan Alvarado.
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
        <div class=" d-flex justify-content-center align-items-center">
            © 2024 Copyright:
            <a class="text-center text-white" href="https://mdbootstrap.com/">ProveerTen</a>
        </div>
</div>
</footer>
</div>