<div class="container p-5">
    <div class="row">
        <!-- Filtro de empresas -->
        <div class="col-md-3 my-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtrar Empresas</h5>
                    <div class="form-group">
                        <label for="searchInput">Buscar empresa:</label>
                        <div class="input-group">
                            <input id="searchInput" [(ngModel)]="searchTerm" (input)="filterCompanies()"
                                class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <div *ngFor="let company of filteredCompanies">
                            <label class="d-block">
                                <input type="checkbox" [disabled]="this.disabled_checkbox"
                                    [ngModel]="company.isSelected" (click)="updateSelection(company.nit_company)">
                                {{ company.name_company }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Lista de productos -->



        <div class="col-md-9">
            <div class="d-flex flex-column justify-content-between" style="height: 600px;">
                <div *ngIf=" indexPage===1" class="container">
                    <div class="scroll-container" style="max-height: 450px; overflow-y: auto;">
                        <div class="row row-cols-1 row-cols-md-3 g-4">
                            <div class="my-4" *ngFor="let product of products" class="col">
                                <div class="card h-100 ">
                                    <img appBrokenImage loading="lazy" [src]="product.image_product"
                                        alt="{{ product?.name_product }}" class="card-img-top"
                                        style="object-fit: cover; height: 200px; cursor: pointer;" (click)="viewProductModal(product.id_product)" data-bs-toggle="modal"
                                            data-bs-target="#productModal">
                                    <div class="card-body d-flex flex-column justify-content-between" style="text-align: center;">
                                        <h5 class="card-title mb-0">{{ product?.name_product }} x{{product?.purchase_quantity}}</h5>
                                        <p class="card-text text-muted">Stock: {{ product?.stock_product }}</p>
                                                    <p class="card-text text-muted">Precio: ${{ product?.purchase_price_product }}</p>
                                        <div class="d-flex justify-content-between align-items-center flex-wrap">
                                            <button class="btn btn-danger" (click)="removeProduct(product)"
                                                [disabled]="!(product.add_product)">
                                                <i class="bi bi-trash3"></i>
                                                Eliminar
                                            </button>
                                            <div class="d-flex align-items-center my-2">
                                                <button class="btn btn-sm btn-danger" (click)="increaseProduct(product)">+</button>
                                                <span class="mx-2">{{ product.product_quantity }}</span>
                                                <button class="btn btn-sm btn-danger" (click)="decreaseProduct(product)">-</button>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-sm mt-2 w-100" (click)="addProduct(product)"
                                            [disabled]="product.product_quantity === 0">
                                            <i class="bi bi-cart"></i>
                                            Agregar al carrito
                                        </button>
                                    </div>
                                    <div class="card-footer bg-transparent">
                                        <!-- <button class="btn btn-danger btn-sm w-100"
                                            (click)="viewProductModal(product.id_product)" data-bs-toggle="modal"
                                            data-bs-target="#productModal">
                                            Ver detalle
                                        </button>  -->
                                       
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div *ngIf="indexPage === 2">
                    <h2 class="text-center mb-4">Proveedores</h2>

                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 my-4">
                        <div class="col" *ngFor="let provider of providers">
                            <div class="card shadow">
                                <div class="card-body d-flex flex-column justify-content-between">
                                    <div>
                                        <h5 class="card-title mb-2">{{ provider.name_provider }} {{
                                            provider.last_name_provider }}</h5>
                                        <p class="card-text text-muted mb-4">{{ provider.email }}</p>
                                    </div>
                                    <div class="form-check form-switch mb-0">
                                        <input class="form-check-input" type="checkbox"
                                            id="flexSwitchCheckChecked-{{ provider.id }}"
                                            (click)="getData(provider.document_provider, provider.name_provider, provider.last_name_provider)">
                                        <label class="form-check-label"
                                            for="flexSwitchCheckChecked-{{ provider.id }}">Confirmar</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div *ngIf="indexPage === 3"
                    style="max-width: 800px; margin: 0 auto; background-color: #f4f4f4; padding: 30px; border-radius: 20px 20px 0px 0px; box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1); overflow: hidden;">
                    <h2 style="text-align: center; color: #333; margin-bottom: 20px; font-size: 28px;">Confirmación de
                        Pedido</h2>
                    <div style="overflow-y: auto; max-height: 350px; padding-right: 20px;">
                        <table class="table table-striped" style="width: calc(100% - 20px); border-collapse: collapse;">
                            <thead style="background-color: #f8f8f8;">
                                <tr>
                                    <th scope="col" style="text-align: center; padding: 15px;">Imagen</th>
                                    <th scope="col" style="text-align: center; padding: 15px;">Nombre del Producto</th>
                                    <th scope="col" style="text-align: center; padding: 15px;">Precio de Compra</th>
                                    <th scope="col" style="text-align: center; padding: 15px;">Cantidad Pedida</th>
                                    <th scope="col" style="text-align: center; padding: 15px;">Stock</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of data_order.products"
                                    (click)="viewProductModal(product.id_product)" data-bs-toggle="modal"
                                    data-bs-target="#productModal"
                                    style="cursor: pointer; background-color: #ffffff; transition: background-color 0.3s;">
                                    <td style="text-align: center; padding: 15px; vertical-align: middle;">
                                        <img appBrokenImage loading="lazy" [src]="product.image_product"
                                            alt="{{ product?.name_product }}" class="product-image"
                                            style="max-height: 150px; border-radius: 10px; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); transition: transform 0.3s;">
                                    </td>
                                    <td style="text-align: center; padding: 15px; vertical-align: middle;">{{
                                        product?.name_product }}</td>
                                    <td style="text-align: center; padding: 15px; vertical-align: middle;">{{
                                        product?.purchase_price_product }}</td>
                                    <td style="text-align: center; padding: 15px; vertical-align: middle;">{{
                                        product?.product_quantity}}</td>
                                    <td style="text-align: center; padding: 15px; vertical-align: middle;">{{
                                        product?.stock_product}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div style="text-align: center; margin-top: 30px;">
                        <p style="font-size: 18px; color: #666;"><strong>El trabajador encargado es:</strong> {{
                            data_order?.name_provider}} {{ data_order?.last_name_provider}}</p>
                    </div>
                </div>

                <div class="div"
                    style="display: flex; flex-direction: column; align-items: end; border-top: 2px gray solid; padding-top: 5px;">
                    <div class="div">
                        <p><strong>Total:</strong> ${{total}} COP</p>
                    </div>
                    <div class="buttons" style="display: flex; gap: 10px;">
                        <button class="btn btn-danger" [disabled]="isData" (click)="cancel()">Cancelar</button>
                        <button class="btn btn-primary" *ngIf="indexPage !== 3" [disabled]="isData"
                            (click)="nextPage()">Siguiente</button>
                        <button class="btn btn-primary" (click)="confirm()"
                            *ngIf="indexPage === 3">Confirmar</button>
                        <button class="btn btn-danger" (click)="editOrder()"
                            *ngIf="indexPage === 3">Editar</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal fade" id="productModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="productModal">Detalle del Producto</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!-- <app-view-product [productModal]="product_modal"></app-view-product> -->
                        <app-view-product [productModal]="product_modal"></app-view-product>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>