<div class="container p-5">
    <div class="row">
        <!-- Filtro de empresas -->
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Filtrar Empresas</h5>
                    <div class="form-group">
                        <label for="searchInput">Buscar empresa:</label>
                        <div class="input-group">
                            <input id="searchInput" [(ngModel)]="searchTerm" (input)="filterCompanies()"
                                class="form-control">
                            <div class="input-group-append">
                                <button class="btn btn-outline-secondary" type="button">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div style="max-height: 400px; overflow-y: auto;">
                        <div *ngFor="let company of filteredCompanies">
                            <label class="d-block">
                                <input type="checkbox" [disabled]="this.disabled_checkbox" [ngModel]="company.isSelected"
                                    (click)="updateSelection(company.nit_company)">
                                {{ company.name_company }}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <!-- Lista de productos -->
        <div class="col-md-9">
            <div class="" style="height: 500px; display: flex; flex-direction: column; justify-content: space-between;">
                <div *ngIf="indexPage === 1">
                    <div style="max-height: 400px; overflow-y: auto;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Nombre del Producto</th>
                                    <th scope="col">Precio de Compra</th>
                                    <th scope="col">peso neto del producto</th>
                                    <th scope="col">Stock</th>
                                    <th scope="col">Opciones</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of products">
                                    <td>
                                        <img appBrokenImage loading="lazy" [src]="product.image_product"
                                            alt="{{ product?.name_product }}" class="product-image">
                                    </td>

                                    <td>{{ product?.name_product }}</td>
                                    <td>{{ product?.purchase_price_product }}</td>
                                    <td>{{ product?.content_product}}</td>
                                    <td>{{ product?.stock_product}}</td>

                                    
                                    <td>

                                        <div class="d-flex flex-column gap-2">
                                            <div class="btn-modify d-flex justify-content-around">

                                              <button (click)="decreaseProduct(product)"
                                                    class="btn btn-sm btn-outline-warning">-</button>
                                                    <p (change)="product.product_quantity">{{product.product_quantity}}</p>
                                                <button (click)="increaseProduct(product)"
                                                    class="btn btn-sm btn-outline-success">+</button>

                                            </div>
                                            <div class="d-flex flex-column gap-2">
                                              <button (click)="removeProduct(product)"
                                              [disabled]="!(product.add_product)"
                                              class="btn btn-sm btn-outline-danger">Eliminar</button>
                                                <button (click)="addProduct(product)"
                                                    [disabled]="product.product_quantity === 0"
                                                    class="btn btn-sm btn-outline-primary">Agregar</button>

                                            </div>

                                        </div>
                                        <!-- Agrega los botones o acciones que necesitas -->
                                        <!-- Agregar más botones según sea necesario -->
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div *ngIf="indexPage === 2">
                    <h2>Providers</h2>

                    <div *ngFor="let provider of providers">
                        <div class="card">
                            <div class="card-body d-flex justify-content-between align-items-center">
                                <div class="div">
                                    <!-- <p>{{provider.document_provider}}</p> -->
                                    <p><strong>{{provider.name_provider}} {{provider.last_name_provider}}</strong> </p>
                                </div>
                                <div>
                                    <input
                                        (click)="getData(provider.document_provider, provider.name_provider, provider.last_name_provider)"
                                        class="form-check-input" style="cursor: pointer;" type="checkbox" value=""
                                        id="flexCheckIndeterminate">
                                    <label class="form-check-label" for="flexCheckIndeterminate">
                                        Confirmar
                                    </label>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <div *ngIf="indexPage === 3">
                    <h2>Confirm</h2>
                    <div style="max-height: 400px; overflow-y: auto; background-color: aqua;">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Imagen</th>
                                    <th scope="col">Nombre del Producto</th>
                                    <th scope="col">Precio de Compra</th>
                                    <th scope="col">Cantidad Pedida</th>
                                    <th scope="col">Stock</th>
                                    <!-- <th scope="col">Trabajador</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let product of data_order.products">
                                    <td>
                                        <img appBrokenImage loading="lazy" [src]="product.image_product"
                                            alt="{{ product?.name_product }}" class="product-image">
                                    </td>
                                    <td>{{ product?.name_product }}</td>
                                    <td>{{ product?.purchase_price_product }}</td>
                                    <td>{{ product?.product_quantity}}</td>
                                    <td>{{ product?.stock_product}}</td>
                                    <!-- <td>{{ data_order?.name_provider}} {{ data_order?.last_name_provider}}</td> -->
                                </tr>
                            </tbody>
                            
                            
                        </table>
                        <div style="display: flex; align-items: end;">
                            <th scope="col">Trabajador</th>
                            <td>{{ data_order?.name_provider}} {{ data_order?.last_name_provider}}</td>
                        </div>
                    </div>
                </div>
                <div class="div"
                    style="display: flex; flex-direction: column; align-items: end; border-top: 2px gray solid; padding-top: 5px;">
                    <div class="div">
                        <p><strong>Total:</strong> ${{total}} COP</p>
                    </div>
                    <div class="buttons" style="display: flex; gap: 10px;">
                        <button class="btn btn-outline-danger" [disabled]="isData" (click)="cancel()">Cancelar</button>
                        <button class="btn btn-outline-success" *ngIf="indexPage !== 3" [disabled]="isData"
                            (click)="nextPage()">Siguiente</button>
                        <button class="btn btn-outline-success" (click)="confirm()"
                            *ngIf="indexPage === 3">Confirmar</button>
                        <button class="btn btn-outline-primary" (click)="editOrder()"
                            *ngIf="indexPage === 3">Editar</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
