<header>
    <nav class="navbar p-2 has-background-white" role="navigation" aria-label="main navigation">
        <div class="navbar-brand is-flex is-align-items-center">
            <div class="navbar-item">
                <h1 class="title is-size-4">Proverten</h1>
            </div>

            <div class="navbar-item ">
                <div class="field has-addons">
                    <div class="control has-icons-left is-rounded">
                        <input class="input is-rounded" type="text" placeholder="Buscar">
                        <span class="icon is-left">
                            <i class="fas fa-search"></i>
                        </span>
                    </div>
                </div>
            </div>
        </div>

        

        <div id="navbarBasicExample" class=" ">
            <div class="navbar-end">
                <div class="navbar-item has-dropdown is-hoverable">
                    <div class="navbar-item is-flex is-align-items-center">
                        <img src="/src/assets/images/usuario.png">
                        <a class="navbar-link">
                            Iniciar sesión
                        </a>
                    </div>

                    <div class="navbar-dropdown">
                        <a class="navbar-item">
                            About
                        </a>
                        <a class="navbar-item">
                            Jobs
                        </a>
                        <a class="navbar-item">
                            Contact
                        </a>
                        <hr class="navbar-divider">
                        <a class="navbar-item">
                            Report an issue
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <nav class="breadcrumb is-centered" aria-label="breadcrumbs">
        <ul>
            <li><a href="#">Ofertas%</a></li>
            <li><a href="#">Categorias</a></li>
            <li><a href="#">¿Quiénes somos?</a></li>
        </ul>
    </nav>
</header>