<div class="container bootdey">
    <div class="all row product-list d-flex gap-5 gap-md-1 mb-4">
        <div class="col-md-4" *ngFor="let product of products" style="width: 270px;">
            <section class="panel" (click)="viewProductModal(product.id_product)" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="cursor:pointer;">
                <div class="pro-img-box">
                    <img appBrokenImage loading="lazy" [src]="product.image_product" class="card-img-top"
                        alt="{{product?.name_product}}">
                    <a class="adtocart">
                        <i class="fa-solid fa-wine-bottle" style="color: #ffffff;"></i>
                    </a>
                </div>
                <div class="panel-body text-center  border border-3">

                    <h4>
                        <h2 class="pro-title" style="margin-top: 21px;">Nombre : {{product?.name_product}}</h2>
                    </h4>
                    <p class="price" style="margin: 0px;">Precio : ${{product?.purchase_price_product}}</p>
                    <h2 class="pro-title">Stock : {{product?.stock_product}}</h2>

                    <h3 class="pro-title" style="margin: 0px;
    padding: 0px;
    position: relative;
    left: -59px;">Categoria:</h3>
                    <div class="category" style="position: relative; padding: 0px;">
                        <div class="flex" style="display: flex;">
                            <div class="triangulo" style="display: flex; flex-direction: column;">
                                <div class="arriba-atra"></div>
                                <div class="abajo-atra"></div>
                            </div>
                            <div class="box"
                                style="font-size: 13px;  width:150px; background-color: #ec8f6a; color: white;">
                                {{product.fk_product_category_name_category}}</div>
                            <div class="triangulo-adelante" style="display: flex; flex-direction: column;">
                                <div class="arriba-ade">
                                </div>
                                <div class="abajo-ade">
                                </div>
                            </div>
                        </div>
                    </div>
                    <h3 class="pro-title" style="padding: 0px;
    margin: 0px;
    position: relative;
    left: -24px;">Sub categoria:</h3>
                    <div class="sub_category" style="position: relative;">
                        <div class="flex" style="display: flex;">
                            <div class="triangulo" style="display: flex; flex-direction: column;">
                                <div class="arriba-atra"></div>
                                <div class="abajo-atra"></div>
                            </div>
                            <div class="box"
                                style="font-size: 13px;  width:150px; background-color: #ec8f6a; color: white;">
                                {{product.fk_subcategory_name_subcategory}}</div>
                            <div class="triangulo-adelante" style="display: flex; flex-direction: column;">
                                <div class="arriba-ade">
                                </div>
                                <div class="abajo-ade">
                                </div>
                            </div>
                        </div>
                    </div>

                    <p id="disponibilidad"
                        [ngClass]="{'disponible': product?.stock_product > 0, 'no-disponible': product?.stock_product === 0}">

                        <svg *ngIf="product?.stock_product > 0" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path
                                d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <svg *ngIf="product?.stock_product === 0" xmlns="http://www.w3.org/2000/svg" width="16"
                            height="16" fill="currentColor"
                            viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                            <path
                                d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                        </svg>
                        <strong> {{product.availability_product}}</strong>
                    </p>



                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-view-product [productModal]="product_modal"></app-view-product>
            </div>
        </div>
    </div>
</div>