<!-- <div class="container">
    <div class="row">
        <div class="col-md-4" *ngFor="let product of data">
            <div class="card mb-3 h-100" (click)="viewProduct(product.id_product)" style="cursor: pointer;width: 225px;">
                <img appBrokenImage loading="lazy" [src]="product.image_product" class="card-img-top"
                    alt="{{product?.name_product}}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <h5 class="card-title" style="min-height: 40px;">{{product?.name_product}}</h5>
                    <p class="card-text" style="max-height: 60px; overflow: hidden;">Purchase Price:
                        {{product?.purchase_price_product}}</p>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!--
    <div class="container">
    <div class="row">
        <div class="col-md-4 mb-3 w-50" *ngFor="let product of products">
            <div class="card h-100 border-0 shadow" (click)="viewProduct(product.id_product)" style="cursor: pointer;">
                <img appBrokenImage loading="lazy" [src]="product.image_product" class="card-img-top"
                    alt="{{product?.name_product}}" style="height: 200px; object-fit: cover;">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">{{product?.name_product}}</h5>
                    <p class="card-text text-muted">Precio de compra: {{product?.purchase_price_product}}</p>
                </div>
            </div>
        </div>
    </div>
</div>
  -->
<!--  <div class="container__cards">
    <div *ngFor="let product of products">
        <div class="card_products" (click)="viewProduct(product.id_product)" style="cursor: pointer;">
            <div class="cover">
                <img appBrokenImage loading="lazy" [src]="product.image_product" class="card-img-top"
                    alt="{{product?.name_product}}">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>{{product?.name_product}}</h2>
                <p class="card-text text-muted">Precio de compra: {{product?.purchase_price_product}}</p>
            </div>
        </div>
    </div>
</div>-->

<div class="container bootdey">
    <div class="row product-list">
        <div class="col-md-4" *ngFor="let product of products">
            <section class="panel" (click)="viewProductModal(product.id_product)" data-bs-toggle="modal"
                data-bs-target="#exampleModal" style="cursor:pointer">
                <div class="pro-img-box">
                    <img appBrokenImage loading="lazy" [src]="product.image_product" class="card-img-top"
                        alt="{{product?.name_product}}">
                    <a class="adtocart">
                        <i class="fa fa-shopping-cart"></i>
                    </a>
                </div>

                <div class="panel-body text-center">
                    <h4>
                        <h2 class="pro-title">{{product?.name_product}}</h2>
                    </h4>
                    <p class="price">${{product?.purchase_price_product}}</p>
                </div>
            </section>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-view-product [productModal]="product_modal"></app-view-product>
            </div>
        </div>
    </div>
</div>