
.products {
    background-color: rgb(250, 217, 173);
    text-align: center;
}

.container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    flex-wrap: wrap;
}
.categories {
    display: flex;
}

.ownerProduct {
    display: flex;
    background-color: rgb(124, 124, 255);
    padding: 10px;
}