<!-- <div class="content">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="name_product" placeholder="Nombre del producto">
            <input type="text" formControlName="description_product" placeholder="Descripción del producto">
            <input type="number" formControlName="purchase_price_product" placeholder="Precio de venta">
            <input type="number" formControlName="unit_purchase_price_product" placeholder="Precio unitario">
            <input type="number" formControlName="suggested_unit_selling_price_product"
                placeholder="Precio sugerido al tendero">
            <input type="number" formControlName="purchase_quantity" placeholder="Cantidad del paquete">
            <input type="number" formControlName="stock_product" placeholder="Cantidad">
            <input type="text" formControlName="content_product" placeholder="Contenido del producto">
            <div class="div" *ngFor="let category of dataCategories">
                <input type="checkbox" [value]="category.name_category" (click)="verifyCheckbox(category.name_category)"
                    id=" {{category.name_category}}">
                <label for="checkbox_categories"> {{category.name_category}}</label>
            </div>
            <input type="file" formControlName="image_product" (change)="onFileSelected($event)">
            <div *ngIf="imagePreview">
                <img appBrokenImage [src]="imagePreview" alt="Image Preview" style="max-width: 100px; height: auto;">
            </div>
            <p-toast position="bottom-right" key="center"></p-toast>
            <button type="submit" [disabled]="!isValidImage">Crear producto</button>
        </form>
    </div>
</div> -->

<div class="modal" *ngIf="loading">
    <div class="modal-content">
        <app-loader [loading]="loading"></app-loader>
    </div>
</div>



<div class="container py-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card shadow-lg p-3 mb-5 bg-white rounded">
                <div class="card-header bg-primary text-white text-center">
                    <h4 class="card-title">Creación de producto</h4>
                </div>
                <div class="card-body">
                    <div class="mb-4 text-center">
                        <div *ngIf="imagePreview">
                            <img appBrokenImage [src]="imagePreview" alt="Image Preview"
                                class="img-fluid rounded-circle border border-warning" style="max-width: 200px;">
                        </div>
                    </div>
                    <form [formGroup]="form" (ngSubmit)="onSubmit()">
                        <div class="mb-3">
                            <input type="text" class="form-control" formControlName="name_product"
                                placeholder="Nombre del producto">

                            <div *ngIf="form.get('name_product').errors?.['required'] && form.get('name_product').touched"
                                class="message-invalid">
                                <p style="color: red;">El nombre del producto es requerido es requerido.</p>
                            </div>

                            <div *ngIf="form.get('name_product')?.hasError('minlength') || form.get('name_product')?.hasError('maxlength')"
                                class="message-invalid">
                                <p style="color: red;">El nombre del producto debe tener entre 1 a maximo 100 carácteres
                                </p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" formControlName="description_product"
                                placeholder="Descripción del producto">

                            <div *ngIf="form.get('description_product').errors?.['required'] && form.get('description_product').touched"
                                class="message-invalid">
                                <p style="color: red;">La descripción del producto es requerido es requerido.</p>
                            </div>

                            <div *ngIf="form.get('description_product')?.hasError('minlength') || form.get('description_product')?.hasError('maxlength')"
                                class="message-invalid">
                                <p style="color: red;">La descripción del producto debe tener entre 1 a maximo 100
                                    carácteres
                                </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input type="number" class="form-control" formControlName="purchase_price_product"
                                        placeholder="Precio de venta">

                                    <div *ngIf="form.get('purchase_price_product').errors?.['required'] && form.get('purchase_price_product').touched"
                                        class="message-invalid">
                                        <p style="color: red;">El precio de venta del producto es requerido es
                                            requerido.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <input type="number" class="form-control"
                                        formControlName="unit_purchase_price_product" placeholder="Precio unitario">


                                    <div *ngIf="form.get('unit_purchase_price_product').errors?.['required'] && form.get('unit_purchase_price_product').touched"
                                        class="message-invalid">
                                        <p style="color: red;">El precio de venta unitario del producto es requerido es
                                            requerido.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control"
                                formControlName="suggested_unit_selling_price_product"
                                placeholder="Precio sugerido al tendero">

                            <div *ngIf="form.get('suggested_unit_selling_price_product').errors?.['required'] && form.get('suggested_unit_selling_price_product').touched"
                                class="message-invalid">
                                <p style="color: red;">El precio sugerido del producto es requerido es
                                    requerido.</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" formControlName="purchase_quantity"
                                placeholder="Cantidad del paquete">

                            <div *ngIf="form.get('purchase_quantity').errors?.['required'] && form.get('purchase_quantity').touched"
                                class="message-invalid">
                                <p style="color: red;">La cantidad es requerida.</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="number" class="form-control" formControlName="stock_product"
                                placeholder="Cantidad">

                            <div *ngIf="form.get('stock_product').errors?.['required'] && form.get('stock_product').touched"
                                class="message-invalid">
                                <p style="color: red;">La cantidad del producto es requerida.</p>
                            </div>
                        </div>
                        <div class="mb-3">
                            <input type="text" class="form-control" formControlName="content_product"
                                placeholder="Contenido del producto">

                            <div *ngIf="form.get('content_product').errors?.['required'] && form.get('content_product').touched"
                                class="message-invalid">
                                <p style="color: red;">La contenido del producto es requerida.</p>
                            </div>
                        </div>
                        <div class="div">
                            <label for="exampleFormControlTextarea1"
                                class="form-label"><strong>Categoría</strong></label>
                            <select formControlName="category" class=" form-control form-control-lg"
                                (ngModelChange)="selectedCategory($event)">
                                <option value="" disabled selected>Seleccionar</option>
                                <option *ngFor="let category of categories" [ngValue]="category.name_category">
                                    {{ category.name_category }}
                                </option>
                            </select>
                        </div>
                        <div class="div mb-3">
                            <label for="exampleFormControlTextarea1"
                                class="form-label"><strong>Subcategoría</strong></label>
                            <select formControlName="subcategory" class="form-control form-control-lg">
                                <option value="" disabled selected>Seleccionar</option>
                                <option *ngFor="let subcategory of subcategories"
                                    [value]="subcategory.name_subcategory">
                                    {{subcategory.name_subcategory}}
                                </option>
                            </select>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <input type="file" class="form-control" formControlName="image_product"
                                    (change)="onFileSelected($event)">
                                <label class="input-group-text" for="image_product">imagen</label>
                            </div>

                            <div *ngIf="form.get('image_product').errors?.['required'] && form.get('image_product').touched"
                                class="message-invalid">
                                <p style="color: red;">La imagen del producto es requerida.</p>
                            </div>
                        </div>
                        <div class="mb-3" *ngIf="imagePreview">
                            <img appBrokenImage [src]="imagePreview" alt="Image Preview"
                                style="max-width: 100px; height: auto;">
                        </div>
                        <div class="mb-3">
                        </div>
                        <div class="mb-3 d-flex justify-content-center">
                            <button type="submit" class="btn btn-primary" [disabled]="!isValidImage"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                                    <path
                                        d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5" />
                                    <path
                                        d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z" />
                                </svg> Crear
                                producto</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>