
.content {
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.438);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: rgba(0, 0, 0, 0);
  padding: 20px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}







@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body{
    font-family: 'Roboto', sans-serif;
}

#disponibilidad{

  text-align: right;
 padding-bottom: 35px;

}

.main-wrapper{
    min-height: 100vh;
    background-color: #f1f1f1;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto;
}
.product-div{
    margin: 1rem 0;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: #fff;
    border-radius: 3px;
    column-gap: 10px;
}
.product-div-left{
    padding: 20px;
}
.product-div-right{
    padding: 20px;
}

.description_product p{
    font-size: 20px;
}
.img-container img{

  width: 100%;
  height: 100%;
  object-fit: cover;
    overflow: hidden;
    margin: 0 auto;
}
.hover-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
}
.hover-container div{
    border: 2px solid rgba(252, 160, 175, 0.7);
    padding: 1rem;
    border-radius: 3px;
    margin: 0 4px 8px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.active{
    border-color: rgb(255, 145, 163)!important;
}
.hover-container div:hover{
    border-color: rgb(255, 145, 163);
}
.hover-container div img{
    width: 50px;
    cursor: pointer;
}
.product-div-right span{
    display: block;
}
.product-name{
  text-align: center;
    font-size: 50px;
    margin-bottom: 22px;
    font-weight: 700;
    letter-spacing: 1px;
    opacity: 0.9;
}

.product-info{
  font-size: 20px;
  padding-bottom:20px ;
  letter-spacing: 1px;
  opacity: 0.9;
}
.product-price{
    text-align: center;
    padding: 26px;
    font-weight: 700;
    font-size: 30px;
    opacity: 0.9;
    font-weight: 500;
}
.product-rating{
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.product-rating span{
    margin-right: 6px;
}
.product-description{
    font-weight: 15px;
    text-align: center;
    font-size: 30px;
    line-height: 1.6;
    font-weight: 300;
    opacity: 0.9;
    margin-top: 22px;
}


@media screen and (max-width: 992px){
    .product-div{
        grid-template-columns: 100%;
    }
    #disponibilidad{
        text-align: center;
    }   
    .product-name{
        font-size: 30px;
    }
    .product-div-right{
        text-align: center;
    }
    .product-rating{
        justify-content: center;
    }
    .product-description{
        max-width: 400px;
        margin-right: auto;
        margin-left: auto;
    }
}

@media screen and (max-width: 400px){
    .btn-groups button{
        width: 100%;
        margin-bottom: 10px;
    }
}


.disponible {
  color: green;
  text-transform: uppercase;
  font-size: 20px;

}

.no-disponible {
  font-size: 20px;
  color: red;
  text-transform: uppercase;
}


.arriba-atra {
    width: 0px;
    height: 0px;
    border-bottom: 6px transparent solid;
    border-top: 6px #ec8f6a solid;
    border-right: 6px #ec8f6a solid;
    border-left: 6px transparent solid;
}

.abajo-atra {
    width: 0px;
    height: 0px;
    border-bottom: 6px #ec8f6a solid;
    border-top: 6px transparent solid;
    border-right: 6px #ec8f6a solid;
    border-left: 6px transparent solid;
}

.arriba-ade {
    width: 0px;
    height: 0px;
    border-bottom: 6px #ec8f6a solid;
    border-top: 6px transparent solid;
    border-right: 6px transparent solid;
    border-left: 6px #ec8f6a solid
}

.abajo-ade {
    width: 0px;
    height: 0px;
    border-bottom: 6px transparent solid;
    border-top: 6px #ec8f6a solid;
    border-right: 6px transparent solid;
    border-left: 6px #ec8f6a solid;
}

.category {

    position: relative;
    left: -23px;
    padding-bottom: 10px;

}

.box {
text-align: center;
}