<!-- {{data?.id_product}} -->
<!-- <div class="container">
    <td>
        <img appBrokenImage [src]="data?.image_product" style="width: 100px; height: 100px;">
    </td>
    <p>
        availability_product:
        {{data?.availability_product}}
    </p>
    <p>
        content_product:
        {{data?.content_product}}
    </p>
    <p>
        description_product:
        {{data?.description_product}}
    </p>
    <p>
        name_product:
        {{data?.name_product}}
    </p>
    <p>
        purchase_price_product:
        {{data?.purchase_price_product}}
    </p>
    <p>
        purchase_quantity:
        {{data?.purchase_quantity}}
    </p>
    <p>
        stock_product:
        {{data?.stock_product}}
    </p>
    <p>
        suggested_price_product:
        {{data?.suggested_price_product}}
    </p>
    <p>
        suggested_unit_selling_price_product:
        {{data?.suggested_unit_selling_price_product}}
    </p>

    <button (click)="viewCompany(data.fk_product_nit_company)" *ngIf="auth.isGrocer() | async">Ver compañía</button>
</div> -->

<div class="modal" *ngIf="loading">
    <div class="modal-content">
        <app-loader [loading]="loading"></app-loader>
    </div>
</div>
<!--
  <div class="container my-5">
      <div class="row justify-content-center">
          <div class="col-lg-6 d-flex align-items-center">
              <img appBrokenImage [src]="data?.image_product" class="shadow bg-body-tertiary rounded w-100" style="max-height: 600px;  max-width:500px;">
          </div>
          <div class="col-lg-6">
              <div class="card border-0">
                  <div class="card-body">
                      <div class="d-flex justify-content-between align-items-center">
                          <h3 class="card-title text-warning">{{data?.name_product | uppercase}}</h3>
                          <p class="fs-6"><strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                              <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                            </svg> Disponibilidad:</strong> {{data?.availability_product}}</p>
                      </div>
                      <hr>
                      <p class="card-text"><strong>Precio: </strong><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-coin" viewBox="0 0 16 16">
                          <path d="M5.5 9.511c.076.954.83 1.697 2.182 1.785V12h.6v-.709c1.4-.098 2.218-.846 2.218-1.932 0-.987-.626-1.496-1.745-1.76l-.473-.112V5.57c.6.068.982.396 1.074.85h1.052c-.076-.919-.864-1.638-2.126-1.716V4h-.6v.719c-1.195.117-2.01.836-2.01 1.853 0 .9.606 1.472 1.613 1.707l.397.098v2.034c-.615-.093-1.022-.43-1.114-.9zm2.177-2.166c-.59-.137-.91-.416-.91-.836 0-.47.345-.822.915-.925v1.76h-.005zm.692 1.193c.717.166 1.048.435 1.048.91 0 .542-.412.914-1.135.982V8.518z"/>
                          <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                          <path d="M8 13.5a5.5 5.5 0 1 1 0-11 5.5 5.5 0 0 1 0 11m0 .5A6 6 0 1 0 8 2a6 6 0 0 0 0 12"/>
                        </svg> {{data?.purchase_price_product}}</p>
                      <p class="card-text"><strong>Precio sugerido de venta:</strong> {{data?.suggested_price_product}}</p>
                      <p class="card-text"><strong>Descripción:</strong> {{data?.description_product}}</p>
                      <p class="card-text"><strong>Peso neto total:</strong> {{data?.content_product}} g/ml</p>
                      <p class="card-text"><strong>Unidades por paquete:</strong> {{data?.purchase_quantity}}</p>
                      <p class="card-text"><strong>Precio por unidad:</strong> {{data?.unit_purchase_price_product}}</p>
                      <p class="card-text"><strong>Precio sugerido de venta por unidad:</strong> {{data?.suggested_unit_selling_price_product}}</p>
                      <p class="card-text"><strong>Stock:</strong> {{data?.stock_product}}</p>
                      <button class="btn btn-warning w-100 mt-4" (click)="viewCompany(data.fk_product_nit_company)" *ngIf="auth.isGrocer() | async">Ver compañía</button>
                  </div>
              </div>
          </div>
      </div>
  </div> -->


<div class="main-wrapper">
    <div class="container">
        <div class="product-div">
            <div class="product-div-left">
                <div class="img-container">
                    <img appBrokenImage class="img-fluid" [src]="data?.image_product" [alt]="data?.name_product">
                </div>

                <div class="description_product">

                    <p class="product-description">{{data?.description_product}}</p>
                </div>
            </div>
            <div class="product-div-right">
                <button class="btn btn-primary w-50 mt-4" data-bs-dismiss="modal" aria-label="Close"
                    (click)="viewCompany(data.fk_product_nit_company)" *ngIf="auth.isGrocer() | async">Ver
                    compañía</button>
                <p id="disponibilidad"
                    [ngClass]="{'disponible': data?.stock_product > 0, 'no-disponible': data?.stock_product == 0}"> <svg
                        *ngIf="data?.stock_product > 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                        <path
                            d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                    </svg>
                    <svg *ngIf="data?.stock_product === 0" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" viewBox="0 0 512 512">
                        <path
                            d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM175 175c9.4-9.4 24.6-9.4 33.9 0l47 47 47-47c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-47 47 47 47c9.4 9.4 9.4 24.6 0 33.9s-24.6 9.4-33.9 0l-47-47-47 47c-9.4 9.4-24.6 9.4-33.9 0s-9.4-24.6 0-33.9l47-47-47-47c-9.4-9.4-9.4-24.6 0-33.9z" />
                    </svg><strong> {{availability_product}}</strong>
                </p>

                <span class="product-name">{{data?.name_product | uppercase}}</span>
                <span class="product-price">$ {{data?.purchase_price_product}} </span>
                <span class="product-info"><strong>Precio sugerido de
                        venta:</strong>{{data?.suggested_price_product}}</span>
                <span class="product-info"><strong>Peso neto total:</strong>{{data?.content_product}} g/ml</span>
                <span class="product-info"><strong>Unidades por paquete:</strong>{{data?.purchase_quantity}} </span>
                <span class="product-info"><strong>Precio por
                        unidad:</strong>{{data?.unit_purchase_price_product}}</span>
                <span class="product-info"><strong>Precio sugerido de venta por unidad:</strong>
                    {{data?.suggested_unit_selling_price_product}}</span>
                <span class="product-info"><strong>Stock:</strong>{{data?.stock_product}}</span>

                <h3 class="pro-title" style="margin: 0px;
                    padding: 0px;
                    position: relative;
                    left: -59px;">Categoria:</h3>
                <div class="category" style="position: relative; padding: 0px;">
                    <div class="flex" style="display: flex;">
                        <div class="triangulo" style="display: flex; flex-direction: column;">
                            <div class="arriba-atra"></div>
                            <div class="abajo-atra"></div>
                        </div>
                        <div class="box" style="width:150px; background-color: #ec8f6a; color: white;">
                            {{data?.categories[0]}}</div>
                        <div class="triangulo-adelante" style="display: flex; flex-direction: column;">
                            <div class="arriba-ade">
                            </div>
                            <div class="abajo-ade">
                            </div>
                        </div>
                    </div>
                </div>
                <h3 class="pro-title" style="padding: 0px;
                    margin: 0px;
                    position: relative;
                    left: -24px;">Sub categoria:</h3>
                <div class="sub_category" style="position: relative;">
                    <div class="flex" style="display: flex;">
                        <div class="triangulo" style="display: flex; flex-direction: column;">
                            <div class="arriba-atra"></div>
                            <div class="abajo-atra"></div>
                        </div>
                        <div class="box" style="width:150px; background-color: #ec8f6a; color: white;">
                            {{data?.fk_subcategory_name_subcategory}}</div>
                        <div class="triangulo-adelante" style="display: flex; flex-direction: column;">
                            <div class="arriba-ade">
                            </div>
                            <div class="abajo-ade">
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class = "product-rating">
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star"></i></span>
                    <span><i class = "fas fa-star-half-alt"></i></span>
                    <span>(350 ratings)</span>
                </div> -->

                <!-- <div class = "btn-groups">
                    <button type = "button" class = "add-cart-btn"><i class = "fas fa-shopping-cart"></i>add to cart</button>
                    <button type = "button" class = "buy-now-btn"><i class = "fas fa-wallet"></i>buy now</button>
                </div> -->
            </div>
        </div>
    </div>
</div>









<!-- <div class="container">
      <div class="row">
          <div class="col-md-12 text-center">
              <img appBrokenImage [src]="data?.image_product" style="width: 150px; height: 150px;">
          </div>
      </div>
      <div class="row ">
          <div class="col-md-12 ">
              <h3 class="mt-3">{{data?.name_product}}</h3>
              <hr>
              <p><strong>Disponibilidad:</strong> {{data?.availability_product}}</p>
              <p><strong>Contenido:</strong> {{data?.content_product}}</p>
              <p><strong>Descripción:</strong> {{data?.description_product}}</p>
              <p><strong>Precio de compra:</strong> {{data?.purchase_price_product}}</p>
              <p><strong>Cantidad de compra:</strong> {{data?.purchase_quantity}}</p>
              <p><strong>Stock:</strong> {{data?.stock_product}}</p>
              <p><strong>Precio sugerido:</strong> {{data?.suggested_price_product}}</p>
              <p><strong>Precio unitario sugerido:</strong> {{data?.suggested_unit_selling_price_product}}</p>
          </div>
    </div>
    <div class="row mt-3">
        <div class="col-md-12 text-center">
            <button (click)="viewCompany(data.fk_product_nit_company)" *ngIf="auth.isGrocer() | async" class="btn btn-primary">Ver compañía</button>
          </div>
      </div>
  </div> -->




<!-- <div class="container justify-content-center align-items-center d-flex ">
      <div class="card">
          <div class="card-body">
              <div class="row justify-content-center align-items-center d-flex">
                  <div class="col-lg-5 col-md-6 col-sm-6 justify-content-center align-items-center d-flex">
                      <div class="white-box text-center "><img appBrokenImage [src]="data?.image_product"
                          class="img-responsive"></div>
                      </div>
                      <div class="col-lg-7 col-md-7 col-sm-6">
  
                          <ul class="list-unstyled ">
                              <div class="col-lg-12 col-md-12 col-sm-12 ">
                              <h3 class="box-title mt-5">General Info</h3>
                              <div class="table-responsive ">
                                  <table class="table table-striped table-product">
                                      <tbody>
                                          <tr>
                                              <td width="390">availability_product</td>
                                              <td> {{data?.availability_product}}</td>
                                          </tr>
                                          <tr>
                                              <td> content_product:</td>
                                              <td>{{data?.content_product}}</td>
                                          </tr>
                                          <tr>
                                              <td>description_product:</td>
                                              <td>{{data?.description_product}}</td>
                                          </tr>
                                          <tr>
                                              <td>name_product:</td>
                                              <td> {{data?.name_product}}</td>
                                          </tr>
                                          <tr>
                                              <td> purchase_price_product:</td>
                                              <td>{{data?.purchase_price_product}}</td>
                                          </tr>
                                          <tr>
                                              <td> purchase_quantity:</td>
                                              <td>{{data?.purchase_quantity}}</td>
                                          </tr>
                                          <tr>
                                              <td>stock_product:</td>
                                              <td>{{data?.stock_product}}</td>
                                          </tr>
                                          <tr>
                                              <td>suggested_price_product:</td>
                                              <td> {{data?.suggested_price_product}}</td>
                                          </tr>
                                          <tr>
                                              <td>suggested_unit_selling_price_product:</td>
                                              <td>{{data?.suggested_unit_selling_price_product}}</td>
                                          </tr>
  
                                      </tbody>
                                  </table>
  
  
                                  <button (click)="viewCompany(data.fk_product_nit_company)"
                                  *ngIf="auth.isGrocer() | async" class="btn btn-primary btn-rounded">Ver
                                  compañía</button>
                              </div>
                          </div>
                      </ul>
                  </div>
  
              </div>
          </div>
      </div>
  </div> -->