body,
html {
  margin: 0;
  padding: 0;
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* Estilo para las imágenes dentro del carrusel */
.custom-carousel-item img {
  width: auto;
  height: 400px;
  /* Ajusta el valor de altura deseado */
  object-fit: contain;
  /* Escala la imagen para que cubra todo el contenedor manteniendo la relación de aspecto */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .custom-carousel-item img {
    height: auto;
  }
}


@media screen and (max-width: 320px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* iPhone XR, 12 Pro */
@media screen and (min-width: 414px) and (max-width: 896px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* iPhone 14 */
@media screen and (min-width: 428px) and (max-width: 926px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Google Pixel 7 */
@media screen and (min-width: 411px) and (max-width: 823px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Samsung Galaxy S8+ */
@media screen and (min-width: 360px) and (max-width: 740px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 480px) and (max-width: 1000px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* iPad mini */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* iPad Air, iPad Pro */
@media screen and (min-width: 834px) and (max-width: 1112px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Surface Pro 7 */
@media screen and (min-width: 768px) and (max-width: 1366px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Surface Duo */
@media screen and (min-width: 540px) and (max-width: 720px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Samsung Galaxy Fold */
@media screen and (min-width: 280px) and (max-width: 560px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Asus Zenbook Fold */
@media screen and (min-width: 500px) and (max-width: 1000px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Samsung Galaxy A51/A71 */
@media screen and (min-width: 360px) and (max-width: 780px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Google Nest Hub */
@media screen and (min-width: 640px) and (max-width: 1024px) {
  /* Ajustes de estilos para el nav y el slicer */
}

/* Google Nest Hub Max */
@media screen and (min-width: 1280px) and (max-width: 1920px) {
  /* Ajustes de estilos para el nav y el slicer */
}





/*panel*/
.panel {
  border: none;
  box-shadow: none;
}

.panel-heading {
  border-color: #eff2f7;
  font-size: 16px;
  font-weight: 300;
}

.panel-title {
  color: #2A3542;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  margin-top: 0;
  font-family: 'Open Sans', sans-serif;
}


/*product list*/

.prod-cat li a {
  border-bottom: 1px dashed #d9d9d9;
}

.prod-cat li a {
  color: #3b3b3b;
}

.prod-cat li ul {
  margin-left: 30px;
}

.prod-cat li ul li a {
  border-bottom: none;
}

.prod-cat li ul li a:hover,
.prod-cat li ul li a:focus,
.prod-cat li ul li.active a,
.prod-cat li a:hover,
.prod-cat li a:focus,
.prod-cat li a.active {
  background: none;
  color: #ff7261;
}

.pro-lab {
  margin-right: 20px;
  font-weight: normal;
}

.pro-sort {
  padding-right: 20px;
  float: left;
}

.pro-page-list {
  margin: 5px 0 0 0;
}

.product-list img {
  width: 100%;
  border-radius: 4px 4px 0 0;
  -webkit-border-radius: 4px 4px 0 0;
}

.product-list .pro-img-box {
  position: relative;
}

.adtocart {
  background: #fc5959;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  color: #fff;
  display: inline-block;
  text-align: center;
  border: 3px solid #fff;
  left: 80%;
  bottom: -25px;
  position: absolute;
}

.adtocart i {
  color: #fff;
  font-size: 25px;
  line-height: 42px;
}

.pro-title {
  color: #5A5A5A;
  display: inline-block;
  margin-top: 20px;
  font-size: 16px;
}

.product-list .price {
  color: #fc5959;
  font-size: 15px;
}

.pro-img-details {
  margin-left: -15px;
}

.pro-img-details img {
  width: 100%;
}

.pro-d-title {
  font-size: 16px;
  margin-top: 0;
}

.product_meta {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 10px 0;
  margin: 15px 0;
}

.product_meta span {
  display: block;
  margin-bottom: 10px;
}

.product_meta a,
.pro-price {
  color: #fc5959;
}

.pro-price,
.amount-old {
  font-size: 18px;
  padding: 0 10px;
}

.amount-old {
  text-decoration: line-through;
}

.quantity {
  width: 120px;
}

.pro-img-list {
  margin: 10px 0 0 -15px;
  width: 100%;
  display: inline-block;
}

.pro-img-list a {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

.pro-d-head {
  font-size: 18px;
  font-weight: 300;
}