<div class="container d-flex flex-column gap-5 align-items-center">

    <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel" style="margin-top: 50px;">
        <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="3000">
                <img src="https://res.cloudinary.com/ddio1oisb/image/upload/v1707880170/Cover_default_nbahdp.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item" data-bs-interval="3000">
                <img src="https://res.cloudinary.com/ddio1oisb/image/upload/v1707881068/ahqztf6jnxuldcw4wi39.png"
                    class="d-block w-100" alt="...">
            </div>
        </div>
    </div>

    <div class="buttons d-flex gap-5">
        <button class="btn btn-warning" *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)"
            (click)="viewCompanies()">Encontrar Empresas</button>
        <button class="btn btn-warning" *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)"
            (click)="viewProducts()">Encontrar Productos</button>
    </div>

    <div class="col-md-6 d-flex gap-3 flex-xxl-column flex-wrap" style="width: 60%;"
        *ngIf="publicaciones; else noPublications">
        <div class="card" style="width: 100%; height: 100%;" *ngFor="let publicacion of publicaciones; let i = index">
            <div class="card-header d-flex align-items-center gap-4">
                <img (click)="viewProfile(publicacion.nit_company)" style="cursor: pointer;" appBrokenImageProfile
                    [imageType]="'photo'" [src]="newDataPub[i]?.profile_photo" [alt]="newDataPub[i]?.name_company"
                    width="50px" height="50px">
                <div class="row">
                    <p (click)="viewProfile(publicacion.nit_company)"
                        style="cursor: pointer; padding: 0; margin: 0; font-size: 20px;">{{ newDataPub[i]?.name_company
                        }}</p>
                    <p style="cursor: pointer; padding: 0; margin: 0;">{{ publicacion.date | date }} </p>
                </div>
            </div>
            <div class="card-body w-100 d-flex justify-content-center flex-column">
                <p class="fs-3 bg-light" style="color: black">{{ publicacion.text }}</p>
                <img src="{{ publicacion.secure_url }}" class="img-fluid" style="cursor: pointer;"
                    data-bs-toggle="modal" [attr.data-bs-target]="'#imageModal_' + i">
            </div>
        </div>
    </div>
    <div class="finishedMessage" *ngIf="finish">
        <div class="d-flex justify-content-center">
            <p style="text-align: center;">No hay más publicaciones por mostrar</p>
        </div>
    </div>
</div>

<ng-template #noPublications>
    <p>No hay publicaciones por mostrar</p>
</ng-template>

<!-- Modals -->
<div *ngFor="let publicacion of publicaciones; let i = index" class="modal fade" [id]="'imageModal_' + i" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ publicacion.text }}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body img-modal-body">
                <img src="{{ publicacion.secure_url }}" class="img-fluid">
            </div>
        </div>
    </div>
</div>