<div class="container pt-4">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://res.cloudinary.com/ddio1oisb/image/upload/v1707880170/Cover_default_nbahdp.jpg"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/ddio1oisb/image/upload/v1712293904/Copia_de_Copia_de_Copia_de_Dise%C3%B1o_sin_t%C3%ADtulo_k6lbsa.png"
                    class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://res.cloudinary.com/ddio1oisb/image/upload/v1712293903/Copia_de_Copia_de_Copia_de_Dise%C3%B1o_sin_t%C3%ADtulo_1_t2wn6d.png"
                    class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Anterior</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Siguiente</span>
        </button>
    </div>
</div>

<!--<div id="bannerCarousel" class="carousel slide py-2 h-30vh" data-bs-ride="carousel">
  <div class="carousel-inner">
      <div class="carousel-item active">
          <a href="https://tudireccion1.com">
              <img src="https://res.cloudinary.com/dl0dgsxb7/image/upload/v1710426267/ze58tw4xe5psywaquiky.png"
                  class="d-block w-100 img-fluid" alt="Banner 1">
          </a>
      </div>
      <div class="carousel-item">
          <a href="https://tudireccion2.com">
              <img src="https://res.cloudinary.com/dl0dgsxb7/image/upload/v1710426266/vinpd6kcr11xqigtwsyu.png"
                  class="d-block w-100 img-fluid" alt="Banner 2">
          </a>
      </div>
      <div class="carousel-item">
          <a href="https://tudireccion3.com">
              <img src="https://res.cloudinary.com/dl0dgsxb7/image/upload/v1710426265/eapqrbdsrx9x2wjhukfr.png"
                  class="d-block w-90 h-100vh img-fluid" alt="Banner 3">
          </a>
      </div>
      <div class="carousel-item">
          <a href="https://tudireccion3.com">
              <img src="https://res.cloudinary.com/dl0dgsxb7/image/upload/v1710426264/uv0mae7j4rrdxcvfbqyh.png"
                  class="d-block w-90 h-100vh img-fluid" alt="Banner 3">
          </a>
      </div>

      <button class="carousel-control-prev custom-arrow" type="button" data-bs-target="#bannerCarousel"
          data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next custom-arrow" type="button" data-bs-target="#bannerCarousel"
          data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
      </button>
  </div>
</div>
-->
<!-- <div class="buttons d-flex  align-items-center justify-content-center  bg-warning text-dark py-2 rounded-bottom gap-2">
    <button class="btn btn-warning " *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)"
        (click)="viewCompanies()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-buildings-fill" viewBox="0 0 16 16">
            <path
                d="M15 .5a.5.5 0 0 0-.724-.447l-8 4A.5.5 0 0 0 6 4.5v3.14L.342 9.526A.5.5 0 0 0 0 10v5.5a.5.5 0 0 0 .5.5h9a.5.5 0 0 0 .5-.5V14h1v1.5a.5.5 0 0 0 .5.5h3a.5.5 0 0 0 .5-.5zM2 11h1v1H2zm2 0h1v1H4zm-1 2v1H2v-1zm1 0h1v1H4zm9-10v1h-1V3zM8 5h1v1H8zm1 2v1H8V7zM8 9h1v1H8zm2 0h1v1h-1zm-1 2v1H8v-1zm1 0h1v1h-1zm3-2v1h-1V9zm-1 2h1v1h-1zm-2-4h1v1h-1zm3 0v1h-1V7zm-2-2v1h-1V5zm1 0h1v1h-1z" />
        </svg> <strong> Encontrar empresas</strong> </button>
    <button class="btn btn-warning " *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)"
        (click)="viewProducts()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-basket-fill" viewBox="0 0 16 16">
            <path
                d="M5.071 1.243a.5.5 0 0 1 .858.514L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15.5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H15v5a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V9H.5a.5.5 0 0 1-.5-.5v-2A.5.5 0 0 1 .5 6h1.717zM3.5 10.5a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0zm2.5 0a.5.5 0 1 0-1 0v3a.5.5 0 0 0 1 0z" />
        </svg> <strong> Encontrar productos</strong></button>
    <button class="btn btn-warning " *ngIf="(auth.isGrocer() | async) || (auth.isLoggedIn() | async)"
        (click)="viewPriceProducts()"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-tags-fill" viewBox="0 0 16 16">
            <path
                d="M2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586zm3.5 4a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3" />
            <path
                d="M1.293 7.793A1 1 0 0 1 1 7.086V2a1 1 0 0 0-1 1v4.586a1 1 0 0 0 .293.707l7 7a1 1 0 0 0 1.414 0l.043-.043z" />
        </svg> <strong> Ver sugerencias de precios</strong></button>
    <button class="btn btn-warning " *ngIf="auth.isLoggedIn() | async" (click)="createOrder()"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-style"
            viewBox="0 0 16 16">
            <path
                d="M1 3.5a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm8 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5zm-4-4a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1-.5-.5z" />
        </svg><strong> Crear
            pedido</strong> </button>
    <button class="btn btn-warning " *ngIf="auth.isLoggedIn() | async" (click)="viewOrders()"><svg
            xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-border-width"
            viewBox="0 0 16 16">
            <path
                d="M0 3.5A.5.5 0 0 1 .5 3h15a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5zm0 5A.5.5 0 0 1 .5 8h15a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H.5a.5.5 0 0 1-.5-.5zm0 4a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5" />
        </svg> <strong> Ver
            pedidos</strong> </button>
</div> -->


<div class="container d-flex flex-column gap-5 align-items-center">


    <!-- <div class="buttons d-flex flex-column flex-md-row gap-3 gap-md-5">
        <button class="btn btn-warning mb-3 mb-md-0" *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)"
            (click)="viewCompanies()">Encontrar Empresas</button>
        <button class="btn btn-warning mb-3 mb-md-0" *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)"
            (click)="viewProducts()">Encontrar Productos</button>
    </div> -->

    <div class="mt-4 d-flex flex-column p-2">
        <div class="p-1">
            <h1 style="font-size: 20px; color: orangered;"><strong>¡Encuentra todo fácilmente!</strong></h1>
            <p style="font-size: 13px; color: gray;"><strong>Obtén todo lo que necesitas en un solo lugar</strong></p>
            <hr>
        </div>

        <div class="d-flex flex-wrap gap-3 p-1 justify-content-center">
            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Aseo para el hogar')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/f1a377c7-2221-4854-b3e7-498cbc7189c9___8d58559ab606d29bf990bc0ffa1fd9ac.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category" style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Aseo
                            para el
                            hogar</strong></a>
                </div>
            </div>

            <div class="kind card d-flex flex-row" style="width: 290px;">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/a0dd10af-8fc3-42cc-bb60-5e4c659f42db___fb9ba46776d0f6d2faf74af364002eeb.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3" (click)="viewCategory('Licores')">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Licores</strong></a>
                </div>
            </div>

            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Despensa')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/efffd64a-bf59-485e-a2d0-6346bf34eae3___46431a7cbf1af9552c33576052ead1ca.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Despensa</strong></a>
                </div>
            </div>

            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Comida para mascotas')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/57813c20-a945-4b52-a737-87a3302bddae___4a3229c03797c38923d0c7f9cb965365.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category" style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Comida
                            para mascotas</strong></a>
                </div>
            </div>

            <!--
                Aseo para el hogar
    Aseo personal
Bebidas
Comida para mascotas
Despensa
Drogueria
Licores
Panadería
Papelería
Pasabocas
             -->

            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Panadería')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/eeee6505-6e86-491c-8f89-3a8e010a15c5___083daae9d36c1c9af6e8de0888a49856.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Panadería</strong></a>
                </div>
            </div>

            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Aseo personal')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/488112be-62a3-4d30-a9ff-a50cfc0c0734___8c117b96891b4a65071741d8389eec21.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category" style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Aseo
                            personal</strong></a>
                </div>
            </div>

            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Bebidas')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/53f54853-25a0-49d4-b33c-1dfd2c663df8___a4d5705e6a04adec2a265e8a8570dfaa.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Bebidas</strong></a>
                </div>
            </div>
            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Drogueria')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://olimpica.vtexassets.com/assets/vtex.file-manager-graphql/images/c67996a9-9aa9-4dc8-87e8-8abfa31d7cf0___356ee3de8366aa06cf37dd96cd1f51c0.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Drogueria</strong></a>
                </div>
            </div>
            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Papelería')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://res.cloudinary.com/dl0dgsxb7/image/upload/v1712284945/iybdfiswirzzem0jlwyy.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Papelería</strong></a>
                </div>
            </div>
            <div class="kind card d-flex flex-row" style="width: 290px;" (click)="viewCategory('Pasabocas')">
                <div class="" style="background-color: rgb(228, 228, 228);">
                    <img style="width: 115px;" class="p-3"
                        src="https://res.cloudinary.com/dl0dgsxb7/image/upload/v1712284182/lsvyfgmhbvwy4mmi3wy6.png"
                        alt="">
                </div>
                <div class="d-flex justify-content-center align-items-center p-3">
                    <a class="category"
                        style="cursor: pointer; text-decoration: none;color: orangered;"><strong>Pasabocas</strong></a>
                </div>
            </div>
        </div>


    </div>


    <div class="w-100">
        <div class="p-3">
            <h1 style="font-size: 20px; color: orangered;" class="p-3"><strong>¡Conoce los productos!</strong></h1>
            <hr>
        </div>
        <div id="itemslider" class="carousel slide d-flex flex-column p-3" data-bs-ride="carousel"
            style="height: 470px;">
            <div class="carousel-inner d-flex flex-nowrap">
                <div *ngFor="let product of products; let i = index" class="carousel-item gap-3"
                    [ngClass]="{'active': i === 0}">
                    <div class="d-flex flex-wrap justify-content-center gap-5">
                        <div *ngFor="let product of products.slice(i, i + 4)" class="mb-3 shadow"
                            style="width: 200px; height: 380px;">
                            <div class="card h-100">
                                <div class="card-body d-flex flex-column gap-3">
                                    <div class="img">
                                        <img appBrokenImage class="img-fluid" [src]="product.image_product"
                                            [alt]="product.name_product">
                                    </div>
                                    <div class="d-flex flex-column gap-5">
                                        <h2 class="card-title" style="font-size: 15px; text-align: center;"><strong>{{
                                                product.name_product
                                                }}</strong></h2>
                                        <p class="card-text " style="text-align: center;">Precio de compra: ${{
                                            product.purchase_price_product
                                            }}</p>
                                    </div>
                                </div>
                                <div class="d-flex justify-content-center mb-3">
                                    <button class="btn btn-primary btn-block" style=" width: 10 0px;"
                                        (click)="viewProductModal(product.id_product)" data-bs-toggle="modal"
                                        data-bs-target="#exampleModal" style="cursor:pointer">Ver</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#itemslider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bg-primary" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#itemslider" data-bs-slide="next">
                <span class="carousel-control-next-icon bg-primary" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>


    <div class="col-md-6 d-flex gap-3 flex-xxl-column flex-wrap" style="width: 60%;"
        *ngIf="publicaciones; else noPublications">
        <div class="card" style="width: 100%; height: 100%;" *ngFor="let publicacion of publicaciones; let i = index">
            <div class="card-header d-flex align-items-center gap-4">
                <img (click)="viewProfile(publicacion.nit_company)" style="cursor: pointer;" appBrokenImageProfile
                    [imageType]="'photo'" [src]="newDataPub[i]?.profile_photo" [alt]="newDataPub[i]?.name_company"
                    width="50px" height="50px">
                <div class="row">
                    <p (click)="viewProfile(publicacion.nit_company)"
                        style="cursor: pointer; padding: 0; margin: 0; font-size: 20px;">{{
                        newDataPub[i]?.name_company
                        }}</p>
                    <!-- <p style="cursor: pointer; padding: 0; margin: 0;">{{date_Hour_Pub( publicacion.date) }} </p> -->
                    <p style="cursor: pointer; padding: 0; margin: 0;">{{publicacion.date | date }} </p>
                </div>
            </div>
            <div class="card-body w-100 d-flex justify-content-center flex-column">
                <p class="fs-3 bg-light" style="color: black">{{ publicacion.text }}</p>
                <img src="{{ publicacion.secure_url }}" class="img-fluid" style="cursor: pointer;"
                    (click)="viewPublicationModal(publicacion._id)" data-bs-toggle="modal"
                    data-bs-target="#publicationModal" style="cursor:pointer">
            </div>
        </div>
    </div>

    <div class="finishedMessage" *ngIf="finish">
        <div class="d-flex justify-content-center">
            <p style="text-align: center;">No hay más publicaciones por mostrar</p>
        </div>
    </div>
</div>

<ng-template #noPublications>
    <p>No hay publicaciones por mostrar</p>
</ng-template>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Detalles del producto</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-view-product [productModal]="product_modal"></app-view-product>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="publicationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <!-- <h5 class="modal-title" id="exampleModalLabel">Detalles de la publicación</h5> -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <!-- <app-view-product [productModal]="product_modal"></app-view-product> -->
                <app-view-publication [publicationModal]="publication_modal"></app-view-publication>
            </div>
        </div>
    </div>
</div>