/* Reset de estilos */
body, html {
  margin: 0;
  padding: 0;
}

/* Estilo para el contenedor del slider */
.custom-slider {
  width: 100%;
  max-width: 100vw;
  height: 30vh;
  overflow: hidden;
  position: relative;
  width: calc(100vw - 100 * margin-left);
  margin: 0;
  flex: 1;
}

/* Estilo para el carrusel */
.custom-carousel {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  transition: transform 0.5s ease;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: flex; /* Añadir posición absoluta */
  left: 0; /* Colocar a la izquierda */
  right: 0; /* Colocar a la derecha */
}

/* Estilo para los elementos del carrusel */
.custom-carousel-item {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-basis: 100%;
}

/* Estilo para las imágenes dentro del carrusel */
.custom-carousel-item img {
  max-width: 100%;
  height: auto;
  max-height: 100%; /* Añadir máximo de altura */
}


