<div class="container-">
    <div class="container1">
        <div class="advertising-window1">
            <div class="profile-section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA0WLZmT4qwFKnSWz7upAGR0OsKNkx181_lQ&usqp=CAU"
                    alt="Perfil" width="40" height="50">
                <h2>Nombre de la persona</h2>
            </div>
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3o9S4v8gugS8mfvtjf5MsMphknFsd-W0_TEitn_3PDivLAqN4OAXG5uEZvnGo6BhkFo4&usqp=CAU"
                alt="Publicación">
            <div class="interaction-buttons">
                <img src="url_del_logo_de_likes" alt="Likes">
                <img src="url_del_logo_de_comentar" alt="Comentar">
                <img src="url_del_logo_de_compartir" alt="Compartir">
            </div>
        </div>
    </div>
    <div class="container1">
        <div class="advertising-window1">
            <div class="profile-section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA0WLZmT4qwFKnSWz7upAGR0OsKNkx181_lQ&usqp=CAU"
                    alt="Perfil" width="40" height="50">
                <h2>Nombre de la persona</h2>
            </div>
            <div class="post-section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3o9S4v8gugS8mfvtjf5MsMphknFsd-W0_TEitn_3PDivLAqN4OAXG5uEZvnGo6BhkFo4&usqp=CAU"
                    alt="Publicación">
                <div class="interaction-buttons">
                    <img src="url_del_logo_de_likes" alt="Likes">
                    <img src="url_del_logo_de_comentar" alt="Comentar">
                    <img src="url_del_logo_de_compartir" alt="Compartir">
                </div>
            </div>
        </div>
    </div>

    <div class="container1">
        <div class="advertising-window1">
            <div class="profile-section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRA0WLZmT4qwFKnSWz7upAGR0OsKNkx181_lQ&usqp=CAU"
                    alt="Perfil" width="40" height="50">
                <h2>Nombre de la persona</h2>
            </div>
            <div class="post-section">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS3o9S4v8gugS8mfvtjf5MsMphknFsd-W0_TEitn_3PDivLAqN4OAXG5uEZvnGo6BhkFo4&usqp=CAU"
                    alt="Publicación">
                <div class="interaction-buttons">
                    <img src="url_del_logo_de_likes" alt="Likes">
                    <img src="url_del_logo_de_comentar" alt="Comentar">
                    <img src="url_del_logo_de_compartir" alt="Compartir">
                </div>
            </div>
        </div>
    </div>

</div>