<!-- <div class="d-flex flex-wrap justify-content-sm-around mt-4 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let company of data">
            <div class="card d-flex flex-column" style="width: 225px; cursor: pointer;"
                (click)="viewCompany(company.nit_company)">
                <div class="d-flex justify-content-center">
                    <img appBrokenImageProfile [imageType]="'photo'" [src]="company?.profile_photo_company"
                        style="width: 200px; height: 168px;" alt="avatar" class="img-fluid">
                </div>
                <div class="d-flex flex-column justify-content-center p-4 ">
                    <h1 class="fs-5 pb-4">{{company.name_company}}</h1>
                    <div class="d-flex flex-column gap-1">
                        <button class="btn btn-primary" type="submit"  (click)="viewCompany(company.nit_company)">Ver perfil</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->


<!-- <div class="d-flex flex-wrap justify-content-sm-around mt-4 mb-5">
    <div class="row">
        <div class="col-md-4 mb-3" *ngFor="let company of data">
            <div class="card d-flex flex-column border-0 shadow-sm" style="width: 225px; cursor: pointer;" (click)="viewCompany(company.nit_company)">
                <div class="d-flex justify-content-center">
                    <img appBrokenImageProfile [imageType]="'photo'" [src]="company?.profile_photo_company" style="width: 200px; height: 168px;" alt="avatar" class="img-fluid">
                </div>
                <div class="card-body d-flex flex-column justify-content-center p-4">
                    <h5 class="card-title">{{company.name_company}}</h5>
                    <div class="d-flex flex-column gap-1">
                        <button class="btn btn-primary mb-2" type="submit" (click)="viewCompany(company.nit_company)">Ver perfil</button>
                        <button type="button" class="btn btn-secondary">Secondary</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- 
    <div class="container">
    <div class="row">
        <div class="col-md-4 mb-4 w-50" *ngFor="let company of companies; let i = index">

            <div class="card h-100 border-0 shadow">
                <img appBrokenImageProfile [imageType]="'photo'" [src]="company?.profile_photo_company"
                    class="card-img-top" alt="avatar" style="height: 200px;">

                <div class="card-body d-flex flex-column p-4">
                    <h5 class="card-title">{{company.name_company}}</h5>
                    <div class="d-flex flex-column gap-2">
                        <button type="button" class="btn btn-primary" (click)="viewCompany(company.nit_company)">Ver
                            compañia</button>
                        <button type="button" class="viewProfile" class="btn btn-primary" (click)="showModalInfo(i)">Ver
                            más info</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="showModal" *ngIf="showModal">
        <span class="close-button" (click)="hideModalInfo()">&times;</span>

        <img class="image" appBrokenImageProfile [imageType]="'photo'" [src]="companyInfo?.profile_photo_company" alt=""
            style="width: 100px; height: 100px;">
        <h2> {{companyInfo?.name_company}} </h2>

        <div *ngIf="companyInfo?.description_company" class="description-container">
            <p *ngIf="companyInfo.description_company.length <= 80; else showMore">
                {{companyInfo?.description_company}}
            </p>

            <ng-template #showMore class="showMore">
                <p class="parrafo" *ngIf="!companyInfo.showMore">{{companyInfo?.description_company.slice(0, 80)}}...
                </p>
                <p class="parrafo" *ngIf="companyInfo.showMore">{{ companyInfo.description_company.slice(0, 150)}}...
                </p>
                <button *ngIf="!companyInfo.showMore" (click)="toggleShowMore(companyInfo)" class="showMore-less">Ver
                    más</button>
                <button *ngIf="companyInfo.showMore" (click)="toggleShowMore(companyInfo)" class="showMore-less">Ver
                    Menos</button>
            </ng-template>
        </div>

        <div *ngIf="companyInfo?.categories.length > 0" class="categoriesCompany">
            <h6>Empresa de:</h6>
            <div style="gap: 10px;" class="d-flex">
                <p *ngFor="let category of companyInfo.categories; let last = last">
                    {{category.fk_product_category_name_category}}<ng-container *ngIf="!last">, </ng-container> 
                </p>
            </div>
        </div>

        <p class="viewProfile" (click)="viewCompany(companyInfo?.nit_company)">Ver perfil</p>

    </div>
</div>
 -->


<!-- <div class="container__cards">
    <div *ngFor="let company of companies;">
        <div class="card_companies">
            <div class="cover">
                <img appBrokenImageProfile [imageType]="'photo'" [src]="company?.profile_photo_company" alt="">
                <div class="img__back"></div>
            </div>
            <div class="description">
                <h2>{{company.name_company}}</h2>
                <button (click)="viewCompany(company.nit_company)">Ver perfil</button>
            </div>
        </div>
    </div>
</div> -->

<div class="container bootdey">
    <div class="all row product-list d-flex">
        <div class="company col-md-4" *ngFor="let company of companies;">
            <section class="panel">
                <div class="pro-img-box">
                    <div style="background-color: white;">
                        <div class="p-4">
                            <img style="height: 190px;" appBrokenImageProfile [imageType]="'photo'"
                                [src]="company?.profile_photo_company" alt="" class="img-fluid">
                        </div>
                    </div>
                    <a class="adtocart">
                        <i class="fa-solid fa-building" style="color: #ffffff;"></i>
                    </a>
                </div>

                <div class="panel-body text-center p-2 border border-3">
                    <h4>
                        <h2 class="pro-title fs-5">{{company.name_company}}</h2>
                    </h4>
                    <!-- <button (click)="viewCompanyModal(company.nit_company) " class="btn btn-primary"
                        style="cursor:pointer">Ver perfil</button> -->

                    <a class="btn btn-primary" style="cursor:pointer" href="/profile/company/{{company.nit_company}} "
                        target="_blank">Ver perfil</a>
                </div>
            </section>
        </div>
    </div>
</div>


<!-- <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Perfil de empresa</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <app-view-profile-company [companyModal]="company_modal"></app-view-profile-company>
            </div>
        </div>
    </div>
</div> -->