<div class="container p-5">
    <div class="row">
        <div class="col-md-3">
            <div class="input-group mb-3 d-flex  align-items-center">
                <input type="search" id="buscador" [(ngModel)]="value" (input)="filterGrocers()"
                    class="form-control border-warning" placeholder="Buscar" style="color:#7a7a7a">
                <!-- <label type="submit" class="btn btn-warning text-white"> <i
                        class="fas fa-search align-middle"></i></label> -->
            </div>
        </div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-4 mb-4" *ngFor="let grocer of grocers">
                    <div class="card h-100 border-0 shadow" (click)="viewProfile(grocer.document_grocer)">
                        <img appBrokenImageProfile [imageType]="'photo'" [src]="grocer?.profile_photo_grocer"
                            class="card-img-top" alt="avatar" style="height: 200px;">
                        <div class="card-body d-flex flex-column p-4">
                            <h5 class="card-title">{{grocer?.name_grocer}} {{grocer?.last_name_grocer}}</h5>
                            <p>{{grocer?.city_grocer}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>