<div class="botones d-flex flex-column flex-md-row justify-content-center mt-5 gap-3 w-100">
  <button (click)="setRole('grocer')" type="button" class="btn btn-outline-secondary btn-lg">Tendero</button>
  <button (click)="setRole('company')" type="button" class="btn btn-outline-secondary btn-lg">Empresa</button>
  <button (click)="setRole('provider')" type="button" class="btn btn-outline-secondary btn-lg">Trabajador</button>
</div>

<div *ngIf="isRole('grocer')">
  <app-login-grocer></app-login-grocer>
</div>

<div *ngIf="isRole('company')">
  <app-login-company></app-login-company>
</div>

<div *ngIf="isRole('provider')">
  <app-login-provider></app-login-provider>
</div>
