<div class="container p-5">

    <button class="btn btn-warning my-3" (click)="goBack(auth.getRole())">Regresar</button>

    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Fecha de realización</th>
                    <th scope="col">Valor del pedido</th>
                    <th scope="col">Estado del pedido</th>
            </thead>
            <tbody>
                <tr *ngFor="let order of data_order">
                    <td>{{order.id_order}}</td>
                    <td>{{order.order_date | date:'short'}}</td>
                    <td>{{order.total_ordered_price}}</td>
                    <td>{{order.status}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div style="max-height: 400px; overflow-y: auto;">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Stock del producto</th>
                    <th scope="col">Precio de compra</th>
                    <th scope="col">Total del producto</th>
                    <th scope="col"></th>
            </thead>
            <tbody>
                <tr *ngFor="let product of list_products">
                    <td>{{product.id_product}}</td>
                    <td>
                        <button (click)="increaseProduct(product)" class="btn btn-sm btn-outline-success">+</button>
                        {{product.quantity}} <button (click)="decreaseProduct(product)"
                            class="btn btn-sm btn-outline-warning">-</button>
                    </td>
                    <td>{{product.stock_product}}</td>
                    <td>{{product.purchase_price_product}}</td>
                    <td>{{product.individual_product_price}}</td>
                    <td>
                        <button [disabled]="list_products.length === 1" (click)="removeProduct(product)"
                            class="btn btn-sm btn-outline-danger">Eliminar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div>
        <button (click)="updateOrder()">Actualizar</button>
        <button>Cancelar</button>
    </div>

    <br>

    <div>
        <button [disabled]="show_products" (click)="showProducts()">Agregar producto</button>
        <button *ngIf="show_products" (click)="closeProducts()">Cerrar</button>
    </div>

    <div *ngIf="show_products">
        <div style="max-height: 400px; overflow-y: auto;">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <!-- <th scope="col">Imagen</th> -->
                        <th scope="col">Nombre del Producto</th>
                        <th scope="col">Precio de Compra</th>
                        <th scope="col">Stock</th>
                        <th scope="col">Opciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of list_show_products">
                        <!-- <td>
                            <img appBrokenImage loading="lazy" [src]="product.image_product"
                                alt="{{ product?.name_product }}" class="product-image">
                        </td> -->
                        <td>{{ product?.name_product }}</td>
                        <td>{{ product?.purchase_price_product }}</td>
                        <td>{{ product?.stock_product }}</td>
                        <td><button [disabled]="product.stock_product === 0"
                                (click)="addProduct(product)">Agregar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</div>