
<div class="div" *ngIf="auth.isGrocer() | async">

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <h2>Grocer</h2>

        <h4>Documento tendero: </h4>

        <input type="text" formControlName="document_grocer" [value]="data?.document_grocer" placeholder="DNI">
<!--  -->

        <h4>Nombre: </h4>

        <input type="text" formControlName="name_grocer" [value]="data?.name_grocer" placeholder="Nombre" [ngClass]="{'message-valid': isvalid('name_grocer')}">

        <div *ngIf="form.get('name_grocer')?.hasError('required')" class="message-invalid">
            <p>El Nombre es requerido.</p>
        </div>

        <div *ngIf="form.get('name_grocer')?.hasError('minlength') || form.get('name_grocer')?.hasError('maxlength')" class="message-invalid">
            El Nombre debe tener entre 1 a maximo 40 carácteres
        </div>

        <!-- <div *ngIf="err">
            {{err.msg}}
        </div> -->
        <!-- <div *ngIf="err.required">
            {{err}}
        </div> -->
<!--  -->

        <h4>Apellido: </h4>

        <input type="text" formControlName="last_name_grocer" [value]="data?.last_name_grocer" placeholder="Apellido" [ngClass]="{'message-valid': isvalid('last_name_grocer')}">

        <div *ngIf="form.get('last_name_grocer')?.hasError('required')" class="message-invalid">
            <p>El Apellido es requerido.</p>
        </div>

        <div *ngIf="form.get('last_name_grocer')?.hasError('minlength') || form.get('last_name_grocer')?.hasError('maxlength')" class="message-invalid">
            El Apellido debe tener entre 1 a maximo 40 carácteres
        </div>
<!--  -->

        <h4>Correo: </h4>

        <input type="email" formControlName="email_grocer" [value]="data?.email_grocer" placeholder="Correo" [ngClass]="{'message-valid': isvalid('email_grocer')}">

        <div *ngIf="form.get('email_grocer')?.hasError('required')" class="message-invalid">
            <p>El Correo es requerido.</p>
        </div>

        <div *ngIf="form.get('email_grocer')?.hasError('email')" class="message-invalid">
            Ingrese un correo valido
        </div>
<!--  -->

        <h4>Teléfono: </h4>

        <input type="tel" formControlName="number_grocer" [value]="data?.number_grocer" placeholder="Teléfono" [ngClass]="{'message-valid': isvalid('number_grocer')}">

        <div *ngIf="form.get('number_grocer')?.hasError('required')" class="message-invalid">
            <p>El Teléfono es requerido.</p>
        </div>

        <div *ngIf="form.get('number_grocer')?.hasError('minlength') || form.get('number_grocer')?.hasError('maxlength')" class="message-invalid">
            El Teléfono debe tener entre 1 a maximo 15 carácteres
        </div>
<!--  -->

        <h4>Nombre del establecimiento: </h4>

        <input type="text" formControlName="name_store" [value]="data?.name_store" placeholder="Nombre del establecimiento" [ngClass]="{'message-valid': isvalid('name_store')}">

        <div *ngIf="form.get('name_store')?.hasError('required')" class="message-invalid">
            <p>El Nombre del establecimiento es requerido.</p>
        </div>

        <div *ngIf="form.get('name_store')?.hasError('minlength') || form.get('name_store')?.hasError('maxlength')" class="message-invalid">
            El Nombre del establecimiento debe tener entre 1 a maximo 50 carácteres
        </div>
<!--  -->

        <h4>Ciudad: </h4>

        <input type="text" formControlName="city_grocer" [value]="data?.city_grocer" placeholder="Ciudad" [ngClass]="{'message-valid': isvalid('city_grocer')}">

        <div *ngIf="form.get('city_grocer')?.hasError('required')" class="message-invalid">
            <p>La Ciudad es requerido.</p>
        </div>

        <div *ngIf="form.get('city_grocer')?.hasError('minlength') || form.get('city_grocer')?.hasError('maxlength')" class="message-invalid">
           La Ciudad debe tener entre 1 a maximo 25 carácteres
        </div>
<!--  -->

        <h4>Barrio: </h4>

        <input type="text" formControlName="neighborhood" [value]="data?.neighborhood" placeholder="Barrio" [ngClass]="{'message-valid': isvalid('neighborhood')}">

        <div *ngIf="form.get('neighborhood')?.hasError('required')" class="message-invalid">
            <p>El Barrio es requerido.</p>
        </div>

        <div *ngIf="form.get('neighborhood')?.hasError('minlength') || form.get('neighborhood')?.hasError('maxlength')" class="message-invalid">
            El Barrio debe tener entre 4 a maximo 40 carácteres
        </div>
<!--  -->

        <h4>Calle: </h4>

        <input type="text" formControlName="street" [value]="data?.street" placeholder="calle" [ngClass]="{'message-valid': isvalid('street')}">

        <div *ngIf="form.get('street')?.hasError('required')" class="message-invalid">
            <p>La Calle es requerida.</p>
        </div>

        <div *ngIf="form.get('street')?.hasError('minlength') || form.get('street')?.hasError('maxlength')" class="message-invalid">
            La Calle debe tener entre 1 a maximo 30 carácteres
        </div>
<!--  -->

        <h4>Número de calle: </h4>

        <input type="text" formControlName="number_street" [value]="data?.number_street" placeholder="# de calle" [ngClass]="{'message-valid': isvalid('number_street')}">
        <p></p>

        <div *ngIf="form.get('number_street')?.hasError('required')" class="message-invalid">
            <p>El Número de calle es requerido.</p>
        </div>

        <div *ngIf="form.get('number_street')?.hasError('minlength') || form.get('number_street')?.hasError('maxlength')" class="message-invalid">
            El Número de calle debe tener entre 1 a maximo 25 carácteres
        </div>
<!--  -->

        <h4># Apartamento: </h4>

        <div class="inputs">
            <input type="number" formControlName="apartment" [value]="data?.apartment" placeholder="# de apartamento" [ngClass]="{'message-valid': isvalid('apartment')}">
            
            <p (click)="deleteField('apartment')"><i class="fa-regular fa-trash-can"></i></p>
        </div>

        <div *ngIf="form.get('apartment')?.hasError('maxlength')" class="message-invalid">
            El # Apartamento debe tener entre maximo 25 carácteres
        </div>
<!--  -->

        <button type="submit" [disabled]="form.invalid || form.pristine">Guardar Cambios</button>

    </form>

</div>