<div class="container p-5">

    <button class="btn btn-primary my-3" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg"
        width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
            d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5v2a.5.5 0 0 1-1 0z" />
        <path fill-rule="evenodd"
            d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z" />
    </svg> Regresar</button>

    <div class="row mt-3">
        <div class="col-md-3">
            <!-- Selector de Estado -->
            <label for="statusSelector" class="form-label">Seleccionar Estado:</label>
            <select class="form-select" id="statusSelector" [(ngModel)]="selectedStatus" (change)="applyFilters()">
                <option value="">Todos</option>
                <option value="Creado">Creado</option>
                <option value="En proceso">En proceso</option>
                <option value="En reparto">En reparto</option>
                <option value="Finalizado">Finalizado</option>
            </select>
        </div>
        <div class="col-md-3">
            <!-- Selector de Fecha -->
            <label for="datePicker" class="form-label">Seleccionar Fecha:</label>
            <input type="date" class="form-control" id="datePicker" [(ngModel)]="selectedDate" (change)="applyFilters()">
        </div>
    </div>

    <div class="container">
        <div class="row">
            <ng-container *ngFor="let order of data_orders">
                <div class="col-md-3 mb-4">
                    <div class="position-relative d-flex flex-column justify-content-center align-items-center"
                        style="top: 10px; z-index: 1;">
                        <div class="box-up"
                            style="height: 20px; width: 36px; border-top-left-radius: 69px;border-top-right-radius: 69px; background-color: rgba(255, 145, 77, 1);">
                        </div>
                        <div class="box " style="height: 30px;  width: 110px; border-top-left-radius: 62px;border-top-right-radius: 62px;border-bottom-left-radius: 14px; border-bottom-right-radius: 14px;
                                background-color: rgba(255, 145, 77, 1);">
                        </div>
                    </div>
                    <div class="card rounded-3 shadow" style="border: rgba(255, 145, 77, 1) 2px solid;">
                        <div class="card-body">
                            <!-- <h5 class="card-title mb-3">Pedido #{{ order.id_order }}</h5> -->
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <strong>Fecha de realización:</strong> {{ order.order_date | date: 'short' }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Valor del pedido:</strong> {{ order.total_ordered_price }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Estado del pedido:</strong> {{ order.status }}
                                </li>
                                <li class="list-group-item">
                                    <strong>Trabajador:</strong> {{ order.name_provider }} {{order.last_name_provider.split(" ")[0] }}
                                </li>
                            </ul>
                        </div>
                        <div class="card-footer bg-transparent border-top-0 d-flex flex-column justify-content-center gap-2">

                            <button (click)="viewOrder(order.id_order)" class="btn btn-primary">Ver pedido <svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-eye-fill" viewBox="0 0 16 16">
                                    <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0" />
                                    <path
                                        d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7" />
                                </svg></button>

                            <button *ngIf="order.status === 'Creado' && auth.isGrocer() | async" class="btn btn-primary"
                                (click)="updateOrder(order.id_order)">Actualizar pedido <svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5" />
                                </svg></button>
                        </div>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>

</div>