<app-nav></app-nav>

<div class="container">
    <div class="row" *ngIf="(auth.isLoggedIn() | async) && !(auth.isCompany() | async)">
        <div class="col-10">
            <router-outlet></router-outlet>
        </div>
        <div class="col-2 bg-light" style="position: fixed;height:-webkit-fill-available;right: 0; top: 0;">
            <app-list-chats></app-list-chats>
        </div>

    </div>
    <div class="row" *ngIf="!(auth.isLoggedIn() | async) || (auth.isCompany() | async)">
        <router-outlet></router-outlet>
    </div>
</div>

<div *ngIf="!(auth.isLoggedIn() | async) || (auth.isCompany() | async)">
    <div class="col-12">
        <app-footer></app-footer>
    </div>
</div>

<div *ngIf="(auth.isLoggedIn() | async) && !(auth.isCompany() | async)">
    <div class="col-10">
        <app-footer></app-footer>
    </div>
</div>