.offcanvas {
    --bs-offcanvas-zindex: 0;
}

/* .contenedor{
    position: sticky;
} */


.chat-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    position: fixed;
    bottom: 0;
    right: 285px;
}


.chat-item {
    margin-right: 10px;
}

.offcanvas {
    --bs-offcanvas-width: 300px;
}


#nav {
    background: rgb(255, 49, 49);
    background: linear-gradient(40deg, rgba(255, 49, 49, 1) 0%, rgba(255, 145, 77, 1) 100%);
    /* background: rgb(242, 183, 5);
    background: linear-gradient(261deg, rgba(242, 183, 5, 1) 28%, rgba(242, 92, 5, 1) 82%); */
    z-index: 2;
    position: sticky;
    top: 0;
    /* 
    padding: 0;
    margin: 0; */
}