<div class="container-fluid p-2" id="nav">
    <!-- <div class="superNav" style="position: relative;
    z-index: 1;">
        <div class="container-fluid text-dark">
            <div class="row align-items-center">
                <div class="container rounded">
                    <div class="slider">
                        <div class="phrases">
                            <span class="phrase">¡El lugar perfecto para crecer tu negocio!</span>
                            <span class="phrase">¡Conoce más empresas!</span>
                            <span class="phrase">¡Conoce más tenderos!</span>
                            <span class="phrase">¡Expande tu negocio!</span>
                        </div>
                        <div class="phrases">
                            <span class="phrase">¡El lugar perfecto para crecer tu negocio!</span>
                            <span class="phrase">¡Conoce más empresas!</span>
                            <span class="phrase">¡Conoce más tenderos!</span>
                            <span class="phrase">¡Expande tu negocio!</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->
    <app-nav></app-nav>
    <!-- <div class="row bg_svg"></div>
    <div class="row bg-danger"></div> -->
</div>

<button *ngIf="((auth.isGrocer() | async ) || (auth.isProvider() | async))" class="btn btn-primary" type="button"
    data-bs-toggle="offcanvas" data-bs-target="#offcanvasBottom" aria-controls="offcanvasBottom" style="position: fixed;
    bottom: 0; width: 120px; font-size: 20px;
    z-index: 1;
    right: 0px;"><i class="fa-solid fa-comments" style="color: #ffffff;" (click)="refreshChats()"></i> Chat</button>

<div *ngIf="((auth.isGrocer() | async ) || (auth.isProvider() | async))" style="border-top-left-radius: 10px;"
    class="offcanvas offcanvas-bottom" tabindex="-1" data-bs-scroll="true" data-bs-backdrop="false" id="offcanvasBottom"
    aria-labelledby="offcanvasBottomLabel">
    <app-chat></app-chat>
</div>

<router-outlet></router-outlet>
<button style="position: fixed;
bottom: 0; 
z-index: 1;
margin-bottom: 10px;
left: 10px;" *ngIf="showScrollButton" (click)="scrollToTop()" class="btn btn-primary btn-floating"><i
        class="fa-solid fa-arrow-up" style="color: #ffffff;"></i> Subir </button>
<p-toast position="bottom-right" key="center"></p-toast>
<div class="container-fluid bg-danger">
    <app-footer></app-footer>
</div>