
<div *ngIf="auth.isLoggedIn() | async">
    <h3>Cambiar Contraseña</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNoForm>

        <h4>Contraseña Anterior</h4>

        <input type="text" formControlName="old_password" placeholder="Contraseña actual" [ngClass]="{'message-valid' : isvalid('old_password')}" >

        <div *ngIf="form.get('old_password')?.hasError('required') && form.get('old_password')?.touched" class="message-invalid" >
            <p>El ingreso de la contraseña actual es obligatorio</p>
        </div>

        <div *ngIf="form.get('old_password')?.hasError('minlength') || form.get('old_password')?.hasError('maxlength') && form.get('old_password')?.touched" class="message-invalid">
            <p>La contraseña actual debe estar entre 8 y 20 caracteres</p>
        </div>

        <h4>Contraseña Nueva</h4>

        <input type="text" formControlName="new_password" placeholder="Contraseña nueva" [ngClass]="{'message-valid' : isvalid('new_password')}">

        <div *ngIf="form.get('new_password')?.hasError('required') && form.get('new_password')?.touched" class="message-invalid">
            <p>El ingreso de la contraseña Nueva es obligatorio</p>
        </div>

        <div *ngIf="form.get('new_password')?.hasError('minlength') || form.get('new_password')?.hasError('maxlength') && form.get('new_password')?.touched" class="message-invalid">
            <p>La contraseña Nueva debe estar entre 8 y 20 caracteres</p>
        </div>

        <h4>Confirme la contraseña</h4>

        <input type="text" formControlName="new_password_confirmed" placeholder="Confirmar contraseña" [ngClass]="{'message-valid' : confirmPass('0')}">

        <div *ngIf="form.get('new_password_confirmed')?.hasError('required') && form.get('new_password_confirmed')?.touched" class="message-invalid">
            <p>Confirmar la contraseña nueva es obligatorio</p>
        </div>

        <div *ngIf="!confirmPass('1') && form.get('new_password_confirmed')?.touched" class="message-invalid">
            <p>La contraseña no coincide</p>
        </div>

        <button type="submit" [disabled]="form.invalid || form.pristine || !confirmPass()">Enviar</button>


    </form>
</div>