<div *ngIf="auth.isCompany() | async">
    <h3>Cambiar Contraseña Empresa</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmitCompany()">
        <h4>Contraseña Anterior</h4>
        <input type="text" formControlName="old_password" placeholder="Contraseña actual">

        <h4>Contraseña Nueva</h4>
        <input type="text" formControlName="new_password" placeholder="Contraseña nueva">

        <h4>Confirme la contraseña</h4>
        <input type="text" formControlName="new_password_confirmed" placeholder="Confirmar contraseña">

        <button type="submit">Enviar</button>
    </form>
</div>

<div *ngIf="auth.isProvider() | async">
    <h3>Cambiar Contraseña Proveedor</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmitProvider()">
        <h4>Contraseña Anterior</h4>
        <input type="text" formControlName="old_password" placeholder="Contraseña actual">

        <h4>Contraseña Nueva</h4>
        <input type="text" formControlName="new_password" placeholder="Contraseña nueva">

        <h4>Confirme la contraseña</h4>
        <input type="text" formControlName="new_password_confirmed" placeholder="Confirmar contraseña">

        <button type="submit">Enviar</button>
    </form>
</div>

<div *ngIf="auth.isGrocer() | async">
    <h3>Cambiar Contraseña Tendero</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmitGrocer()">

        <h4>Contraseña Anterior</h4>
        <input type="text" formControlName="old_password" placeholder="Contraseña actual">

        <h4>Contraseña Nueva</h4>
        <input type="text" formControlName="new_password" placeholder="Contraseña nueva">

        <h4>Confirme la contraseña</h4>
        <input type="text" formControlName="new_password_confirmed" placeholder="Confirmar contraseña">

        <button type="submit">Enviar</button>
    </form>
</div>