<div class="modal" *ngIf="loading">
  <div class="modal-content">
    <app-loader [loading]="loading"></app-loader>
  </div>
</div>



<div *ngIf="auth.isLoggedIn() | async" class="d-flex flex-column justify-content-center align-items-center" style="margin: 4%; margin-bottom: 5%;">
    <h1 class="mt-4">Cambiar contraseña</h1>
    <div class="d-flex gap-2 flex-column align-items-center flex-md-row mt-4">
        <div class="d-flex justify-content-center">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
          class="img-fluid" alt="Sample image" style="width: 70%;">
        </div>

        <div class="card rounded-4 border border-warning-subtle p-4 shadow-lg gap-5 " style="width: 60%;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNoForm>

                <div class="mb-3">
                    <label class="form-label">Contraseña anterior</label>
                    <input type="password" class="form-control" formControlName="old_password"
                        placeholder="Contraseña actual" [ngClass]="{'message-valid' : isvalid('old_password')}">


                    <div *ngIf="form.get('old_password')?.hasError('required') && form.get('old_password')?.touched"
                        class="message-invalid">
                        <p>El ingreso de la contraseña actual es obligatorio</p>
                    </div>

                    <div *ngIf="form.get('old_password')?.hasError('minlength') || form.get('old_password')?.hasError('maxlength') && form.get('old_password')?.touched"
                        class="message-invalid">
                        <p>La contraseña actual debe estar entre 8 y 20 caracteres</p>
                    </div>
                </div>

                <div class="contra d-flex gap-3">

                    <div class="mb-3 w-50">
                        <label class="form-label">Contraseña nueva</label>
                        <input type="password" class="form-control" formControlName="new_password"
                            placeholder="Contraseña nueva" [ngClass]="{'message-valid' : isvalid('new_password')}">

                        <div *ngIf="form.get('new_password')?.hasError('required') && form.get('new_password')?.touched"
                            class="message-invalid">
                            <p>El ingreso de la contraseña Nueva es obligatorio</p>
                        </div>

                        <div *ngIf="form.get('new_password')?.hasError('minlength') || form.get('new_password')?.hasError('maxlength') && form.get('new_password')?.touched"
                            class="message-invalid">
                            <p>La contraseña Nueva debe estar entre 8 y 20 caracteres</p>
                        </div>
                    </div>

                    <div class="mb-3 w-50">
                        <label class="form-label">Confirme la contraseña</label>
                        <input type="password" class="form-control" formControlName="new_password_confirmed"
                            placeholder="Confirmar contraseña" [ngClass]="{'message-valid' : confirmPass('0')}">

                        <div *ngIf="form.get('new_password_confirmed')?.hasError('required') && form.get('new_password_confirmed')?.touched"
                            class="message-invalid">
                            <p>Confirmar la contraseña nueva es obligatorio</p>
                        </div>

                        <div *ngIf="!confirmPass('1') && form.get('new_password_confirmed')?.touched"
                            class="message-invalid">
                            <p>La contraseña no coincide</p>
                        </div>
                    </div>

                </div>
                <div class="d-flex justify-content-center">
                    <button type="submit" [disabled]="form.invalid || form.pristine || !confirmPass()"
                        class="btn btn-primary">Guardar
                        cambios</button>
                </div>

            </form>
        </div>
    </div>
</div>










<!-- <div *ngIf="auth.isLoggedIn() | async">
    <h3>Cambiar Contraseña</h3>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" ngNoForm>

        <h4>Contraseña Anterior</h4>

        <input type="password" formControlName="old_password" placeholder="Contraseña actual"
            [ngClass]="{'message-valid' : isvalid('old_password')}">

        <div *ngIf="form.get('old_password')?.hasError('required') && form.get('old_password')?.touched"
            class="message-invalid">
            <p>El ingreso de la contraseña actual es obligatorio</p>
        </div>

        <div *ngIf="form.get('old_password')?.hasError('minlength') || form.get('old_password')?.hasError('maxlength') && form.get('old_password')?.touched"
            class="message-invalid">
            <p>La contraseña actual debe estar entre 8 y 20 caracteres</p>
        </div>

        <h4>Contraseña Nueva</h4>

        <input type="password" formControlName="new_password" placeholder="Contraseña nueva"
            [ngClass]="{'message-valid' : isvalid('new_password')}">

        <div *ngIf="form.get('new_password')?.hasError('required') && form.get('new_password')?.touched"
            class="message-invalid">
            <p>El ingreso de la contraseña Nueva es obligatorio</p>
        </div>

        <div *ngIf="form.get('new_password')?.hasError('minlength') || form.get('new_password')?.hasError('maxlength') && form.get('new_password')?.touched"
            class="message-invalid">
            <p>La contraseña Nueva debe estar entre 8 y 20 caracteres</p>
        </div>

        <h4>Confirme la contraseña</h4>

        <input type="password" formControlName="new_password_confirmed" placeholder="Confirmar contraseña"
            [ngClass]="{'message-valid' : confirmPass('0')}">

        <div *ngIf="form.get('new_password_confirmed')?.hasError('required') && form.get('new_password_confirmed')?.touched"
            class="message-invalid">
            <p>Confirmar la contraseña nueva es obligatorio</p>
        </div>

        <div *ngIf="!confirmPass('1') && form.get('new_password_confirmed')?.touched" class="message-invalid">
            <p>La contraseña no coincide</p>
        </div>

        <button type="submit" [disabled]="form.invalid || form.pristine || !confirmPass()">Enviar</button>


    </form>
</div> -->
