<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="file" class="form-label">Archivo</label>
        <input type="file" class="form-control" id="file" formControlName="file" (change)="onFileSelected($event)">
    </div>
    <button type="submit" class="button">Enviar</button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead class="table-white">
            <tr>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre</th>
                <th scope="col">Descripción</th>
                <th scope="col">Precio de venta</th>
                <th scope="col">Precio de venta unitaria</th>
                <th scope="col">Precio sugerido</th>
                <th scope="col">Cantidad mínima de compra</th>
                <th scope="col">Cantidad disponible</th>
                <th scope="col">Contenido del producto</th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products_file">
                <td><img appBrokenImage [src]="product.image_product" style="max-width: 100px;"></td>
                <td>{{product.Nombre}}</td>
                <td>{{product['Descripción']}}</td>
                <td>{{product['Precio de venta por paquete']}}</td>
                <td>{{product['Precio de venta unitario']}}</td>
                <td>{{product['Precio sugerido de venta']}}</td>
                <td>{{product['Cantidad por paquete']}}</td>
                <td>{{product['Cantidad en existencia']}}</td>
                <td>{{product['Contenido del producto']}}</td>
            </tr>
        </tbody>
    </table>
</div>

<button (click)="confirm()">
    Confirmar
</button>