<div *ngIf="auth.isGrocer() | async"
    class="container contenedor d-flex align-items-center flex-column justify-content-center"
    style="padding-top: 120px;">
    <h2>Chats</h2>
    <div class="overflow-auto w-100" style="max-height: 55vh">
        <div *ngFor="let chat of data" class="d-flex flex-column p-2 ">
            <div class="user_chat d-flex w-100 justify-content-center"
                style="cursor: pointer; padding: 5px; border-radius: 5px;"
                (click)="chatear(chat.participants.providerId)">
                <div class="d-flex align-items-center gap-2">
                    <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider" [imageType]="'photo'"
                        width="40px" height="40px" class="mr-2">
                    <p class="mb-0">
                        {{chat.dataUser.name_provider}} {{chat.dataUser.last_name_provider}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<div *ngIf="auth.isProvider() | async"
    class="container contenedor d-flex align-items-center flex-column justify-content-center"
    style="padding-top: 150px;">
    <h2>Chats</h2>
    <div class="overflow-auto w-100" style="max-height: 55vh; padding: 20px; margin-top: 10px;">
        <div *ngFor="let chat of data" class="d-flex flex-column p-2 ">
            <div class="user_chat d-flex w-100 justify-content-center"
                style="cursor: pointer; padding: 5px; border-radius: 5px;"
                (click)="chatear(chat.participants.grocerId)">
                <div class="d-flex align-items-center gap-2">
                    <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider" [imageType]="'photo'"
                        width="40px" height="40px" class="mr-2">
                    <p class="mb-0">
                        {{chat.dataUser.name_grocer}} {{chat.dataUser.last_name_grocer}}
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>