<div class="container contenedor d-flex align-items-center flex-column justify-content-center"
    style="padding-top: 150px;">
    <h2>Chats</h2>
    <div class="overflow-auto w-100" style="max-height: 100vh; padding: 20px;">
        <div *ngFor="let chat of data" class="d-flex flex-column p-2 ">
            <div class="card d-flex w-100 justify-content-center" style="cursor: pointer;"
                (click)="chatear(chat.participants.providerId)">
                <img appBrokenImageProfile [src]="chat.dataUser.photo_profile_provider" [imageType]="'photo'"
                    width="50px" height="50px">
                <p>
                    <!-- {{chat.dataUser.name_provider}} -->
                    {{chat.dataUser.name_provider}} {{chat.dataUser.last_name_provider}}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="chat-container">
    <div *ngFor="let chatId of chats; let i = index" class="chat-item">
        <a style="position: relative;
    top: 42px;
    z-index: 1;
    left: 265px;" (click)="closeChat(i)"><i class="fas fa-times" style="cursor: pointer;"></i></a>
        <app-chat [chatId]="chatId"></app-chat>
    </div>
</div>