/* .contenedor{
    position: sticky;
} */


.chat-container {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    position: fixed;
    bottom: 0;
    right: 349px;
}


.chat-item {
    margin-right: 10px;
}