<div class="container d-flex flex-column">

    <div class="d-flex gap-2 justify-content-center mt-3">
        <button type="button" class="btn btn-info" (click)="createPublication()"> Crear publicación</button>
        <button type="button" class="btn btn-dark" (click)="goBack()"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                height="16" fill="currentColor" class="bi bi-arrow-return-left" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M14.5 1.5a.5.5 0 0 1 .5.5v4.8a2.5 2.5 0 0 1-2.5 2.5H2.707l3.347 3.346a.5.5 0 0 1-.708.708l-4.2-4.2a.5.5 0 0 1 0-.708l4-4a.5.5 0 1 1 .708.708L2.707 8.3H12.5A1.5 1.5 0 0 0 14 6.8V2a.5.5 0 0 1 .5-.5" />
            </svg>Regresar al panel</button>
    </div>

    <!-- <app-view-publications></app-view-publications> -->

    <div class="container">
        <div class="div" *ngIf="publications; else noPublications">
            <table class="container" border=" 2px">
                <tr>
                    <th>Publicación</th>
                </tr>
                <tr>
                    <div *ngFor="let publication of publications">
                        <td>
                            <img [src]="publication.image_url" style="width: 100px; height: 100px;">
                        </td>
                        <td>
                            <button (click)="updatePublication(publication._id)">Actualizar</button>
                        </td>
                        <td>
                            <button (click)="deletePublication(publication._id)">Eliminar</button>
                        </td>
                    </div>
                </tr>
            </table>
        </div>
    </div>


    <div *ngIf="publications; else noPublications">
        <div *ngFor="let publication of publications"></div>
    </div>

    <div class="card px-4 pt-4" style="max-width: 32rem">
        <!-- News block -->
        <div>
          <!-- Featured image -->
          <div class="bg-image hover-overlay shadow-1-strong ripple rounded-5 mb-4" data-mdb-ripple-color="light">
            <img src="https://mdbcdn.b-cdn.net/img/new/fluid/city/113.webp" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
      
          <!-- Article data -->
          <div class="row mb-3">
            <div class="col-6">
              <a href="" class="text-info btn-warning">
                <i class="fas fa-plane"></i>
              </a>
            </div>
      
            <div class="col-6 text-end">
              <u> 15.07.2020</u>
            </div>
          </div>
      

    <ng-template #noPublications>
        <div class="alert text-center align-items-center p-5" style="color: orangered" role="alert">
            <p class="mb-0"></p>
            <h4 class="alert-heading">Actualmente no hay ninguna publicacíon!</h4>
            <p>Por favor regrese al panel princial o puedes crear una publicación</p>
            <hr>
            <p class="mb-0"></p>
        </div>
    </ng-template>

</div>