<!-- <div class="content">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="document_grocer" placeholder="Documento">
            <input type="text" formControlName="name_grocer" placeholder="Nombres">
            <input type="text" formControlName="last_name_grocer" placeholder="Apellidos">
            <input type="email" formControlName="email_grocer" placeholder="Correo electrónico">

            <input type="password" formControlName="password_grocer" placeholder="Contraseña">

            <input type="tel" formControlName="number_grocer" placeholder="Número de celular">
            <input type="text" formControlName="name_store" placeholder="Nombre del establecimiento">
            <input type="text" formControlName="city_grocer" placeholder="Ciudad - Pueblo">
            <input type="text" formControlName="neighborhood" placeholder="Barrio">
            <input type="text" formControlName="street" placeholder="Calle">
            <input type="text" formControlName="number_street" placeholder="Número">
            <input type="text" formControlName="apartment" placeholder="Apartamento">
            <button type="submit">Enviar</button>
        </form>
    </div>
</div> -->

<div class="content">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <section class="">
                <div class="container py-5">
                    <div class="row d-flex align-items-center justify-content-center  rounded" style="background-color: white;">
                        <div class="col-md-8 col-lg-7 col-xl-6">
                            <img src="https://static.vecteezy.com/system/resources/previews/011/414/195/non_2x/bussines-rule-flat-style-illustratiion-design-free-vector.jpg"
                                class="img-fluid" alt="Phone image">
                        </div>
                        <div class=" col-xl-5 offset-xl-1 shadow p-4 m-4 bg-body-tertiary rounded ">
                            <div class="d-flex fs-1 justify-content-center mb-3">
                                <h1 style="color: orange;">Registrate como tendero</h1>
                            </div>

                            <!-- Email input -->

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example13"><strong>Nombres</strong></label>
                                <input type="text" formControlName="name_grocer" class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" for="form1Example13"><strong>Apellidos</strong></label>
                                <input type="text" formControlName="last_name_grocer"
                                    class="form-control form-control-lg" />
                            </div>


                            <div class="d-flex gap-2">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>Documento</strong></label>
                                    <input type="text" formControlName="document_grocer"
                                        class="form-control form-control-lg" />


                                        <div *ngIf="form.get('document_grocer')?.hasError('minlength') || form.get('document_grocer')?.hasError('maxlength')"
                                            class="message-invalid">
                                            <p style="color: red;">El documento debe tener entre 10 a maximo 15 carácteres</p>
                                        </div>
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>Correo</strong></label>
                                    <input type="email" formControlName="email_grocer"
                                        class="form-control form-control-lg" />
                                </div>
                            </div>

                            <div class="d-flex gap-2">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>N. celular</strong></label>
                                    <input type="tel" formControlName="number_grocer"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>Nombre del establecimiento</strong></label>
                                    <input type="text" formControlName="name_store"
                                        class="form-control form-control-lg" />
                                </div>
                            </div>
                            <div class="d-flex gap-2">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>Ciudad - Pueblo</strong></label>
                                    <input type="text" formControlName="city_grocer"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><Strong>Barrio</Strong></label>
                                    <input type="text" formControlName="neighborhood"
                                        class="form-control form-control-lg" />
                                </div>
                            </div>
                            <div class="d-flex gap-2">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>Calle</strong></label>
                                    <input type="text" formControlName="street"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong> Numero de calle</strong></label>
                                    <input type="text" formControlName="number_street"
                                        class="form-control form-control-lg" />
                                </div>
                            </div>
                            <div class="d-flex gap-2">
                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong>Apartamento</strong></label>
                                    <input type="text" formControlName="apartment"
                                        class="form-control form-control-lg" />
                                </div>

                                <div class="form-outline mb-4">
                                    <label class="form-label" for="form1Example13"><strong> Cotraseña</strong></label>
                                    <input type="password" formControlName="password_grocer"
                                        class="form-control form-control-lg" />

                                        <div *ngIf="form.get('password_grocer')?.hasError('minlength') || form.get('password_grocer')?.hasError('maxlength')"
                                    class="message-invalid">
                                    <p style="color: red;">La contraseña debe tener minimo 8 carácteres</p>
                                </div>
                                </div>
                            </div>

                            <p-toast position="bottom-right" key="center"></p-toast>
                            <!-- Submit button -->
                            <button type="submit"
                                class="btn btn-primary btn-lg btn-block d-grid gap-2 col-6 mx-auto border border-0" type="submit"
                                style="background-color: orange; ">Registrar</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>



<div class="modal" *ngIf="loading">
  <div class="modal-content">
    <app-loader [loading]="loading"></app-loader>
  </div>
</div>
