<div class="content">
    <div class="div">
        <div>
            <img [src]="data?.image_url" style="max-width: 100px; height: auto;">
        </div>
    </div>
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <input type="text" formControlName="text" placeholder="Texto">
            <!-- <img src="" alt=""> -->
            <input type="file" formControlName="image" (change)="onFileSelected($event)">
            <div *ngIf="imagePreview">
                <img [src]="imagePreview" alt="Image Preview" style="max-width: 100px; height: auto;">
            </div>
            <p-toast key="center"></p-toast>
            <button type="submit" [disabled]="!form.valid || !isValidImage">Actualizar publicación</button>
        </form>
    </div>
</div>

<button (click)="cancel()">Cancelar</button>