/* a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.nav_text {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px 0;
    color: white;
}

nav {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    gap: 10px;
}

.rows {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.elements {
    display: flex;
    gap: 20px;
    color: white;
}

.logo a {
    font-size: 40px;
}

.div_search {
    display: flex;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 600px;
    justify-content: space-between;
}

.div_search select {
    border: none;
    padding: 0 10px;
    width: 200px;
    height: 40px;
}

.search {
    display: flex;
    width: 100%;
    border: none;
    border-left: 2px #FF5757 solid;
    margin-left: 5px;
}

.search input {
    width: 100%;
    border: none;
    appearance: none;
    padding: 0 10px;
}

.search button i {
    font-size: 20px;
}

.send_search {
    border: none;
    height: 40px;
    background-color: #FF5757;
    width: 50px;
}

.location {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.elements_location {
    display: flex;
    background-color: white;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.location select {
    border: none;
    padding: 5px;
    width: 150px;
}

.location button {
    border: none;
    height: 35px;
    color: white;
    padding: 0 8px;
    background-color: #FF5757;
}

.location i {
    font-size: 25px;
}

.container {
    padding: 0;
<<<<<<< HEAD
}

@media screen and (max-width: 768px) {
  .superNav .container-fluid {
    padding: 0;
    width: 100%;
  }
  .superNav .slider .phrases {
    padding: 0;
    width: 100%;
  }
  .superNav .slider {
    animation: none;
    width: 100%;
  }
  .superNav .container {
    max-width: 100%;
    padding: 0;
    width: 100%;
  }
  .nav_text {
    justify-content: center;
    width: 100%;
  }
}
/* iPhone SE */
@media screen and (max-width: 320px) {
  .nav-tabs .nav-link {
    margin: 0 10px; /* Reducir el espaciado entre los elementos */
    font-size: 14px; /* Reducir el tamaño del texto */
    width: 100%;
  }

  .navbar-toggler {
    display: block; /* Mostrar el botón de menú desplegable */
    width: auto
  }

  .navbar-collapse {
    display: none; /* Ocultar el menú desplegable por defecto */
    width: auto;
  }
} 

/* iPhone XR, 12 Pro */
@media screen and (min-width: 414px) and (max-width: 896px) {
  .button {
    /* Estilos para el botón en iPhone XR, 12 Pro */
  }

  .lable {
    /* Estilos para el texto en iPhone XR, 12 Pro */
  }

  /* Agrega estilos adicionales según sea necesario */
}

/* iPhone 14 */
@media screen and (min-width: 428px) and (max-width: 926px) {
  .button {
    /* Estilos para el botón en iPhone 14 */
  }

  .lable {
    /* Estilos para el texto en iPhone 14 */
  }
}  

/* Google Pixel 7 */
@media screen and (min-width: 411px) and (max-width: 823px) {
  .button {
    /* Estilos para el botón en Google Pixel 7 */
  }

  .lable {
    /* Estilos para el texto en Google Pixel 7 */
  }
}

/* Samsung Galaxy S8+, S20 Ultra */
@media screen and (min-width: 360px) and (max-width: 1024px) {
  .button {
    /* Estilos para el botón en Samsung Galaxy S8+, S20 Ultra */
  }

  .lable {
    /* Estilos para el texto en Samsung Galaxy S8+, S20 Ultra */
  }
} 

/* iPad Mini, iPad Air, iPad Pro */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .button {
    /* Estilos para el botón en iPad Mini, iPad Air, iPad Pro */
  }

  .lable {
    /* Estilos para el texto en iPad Mini, iPad Air, iPad Pro */
  }
} 

/* Surface Pro 7, Surface Duo */
@media screen and (min-width: 540px) and (max-width: 1024px) {
  .button {
    /* Estilos para el botón en Surface Pro 7, Surface Duo */
  }

  .lable {
    /* Estilos para el texto en Surface Pro 7, Surface Duo */
  }
} 
  
/* Galaxy Fold, Asus Zenbook Fold */
@media screen and (min-width: 280px) and (max-width: 1536px) {
  .button {
    /* Estilos para el botón en Galaxy Fold, Asus Zenbook Fold */
  }

  .lable {
    /* Estilos para el texto en Galaxy Fold, Asus Zenbook Fold */
  }
}

/* Samsung Galaxy A51/A71 */
@media screen and (min-width: 360px) and (max-width: 800px) {
  .button {
  width: 100%;
  height: 100%;
  display: flex;
  }

  .lable {
width: 100%;
height: 100%;
display: flex
  }
}

/* Nest Hub, Nest Hub Max */
@media screen and (min-width: 480px) and (max-width: 1280px) {
  .button {
    /* Estilos para el botón en Nest Hub, Nest Hub Max */
  }

  .lable {
    /* Estilos para el texto en Nest Hub, Nest Hub Max */
  }
}

a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.logo a {
    font-size: 40px;
}

.div_search select {
    width: 150px;
}

.btn-bg {
    background-color: #ff3636;
    border: none;
}

.fa-location-dot {
    font-size: 25px;
}

.row_one a,
p {
    font-size: 20px;
}

.location select {
    border: none;
    padding: 5px;
    width: 150px;
}
