<div class="container">

    <div class="offcanvas offcanvas-end btn-bg" tabindex=" -1" id="offcanvasRight"
        aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div *ngIf="!(auth.isLoggedIn() | async)">
                <div class="elements row_one d-flex align-items-center gap-3">
                    <a routerLink="login" class="text-light">Iniciar sesión</a>
                    <a routerLink="register" class="text-light">Registrarse</a>
                </div>
                <div *ngIf="!(auth.isLoggedIn() | async)" class="col-auto ">
                    <form class="d-flex gap-4" [formGroup]="form_location" (ngSubmit)="filter_location()">
                        <div class="location d-flex align-items-center gap-2">
                            <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                            <div class="elements_location d-flex bg-light">
                                <div class="department">
                                    <select formControlName="department" (ngModelChange)="selected_department($event)"
                                        class="form-select">
                                        <option value="" disabled selected>Seleccionar</option>
                                        <option *ngFor="let department of departments" [ngValue]="department.name">
                                            {{ department.name }}
                                        </option>
                                    </select>
                                </div>
                                <div class="city">
                                    <select formControlName="city" class="form-select">
                                        <option value="" disabled selected>Seleccionar</option>
                                        <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                                    </select>
                                </div>
                                <button type="submit" class="btn btn-bg text-light rounded-0">
                                    Cambiar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light flex-column gap-4"
        *ngIf="(auth.isGrocer() | async) || !(auth.isLoggedIn() | async)">
        <div class="row w-100 justify-content-between align-items-center gap-4">
            <div class="col-auto logo">
                <a routerLink="">ProveerTen</a>
            </div>

            <div class="col-auto">
                <form [formGroup]="form" (ngSubmit)="search()" class="d-flex">
                    <div class="div_search me-2 d-flex bg-light">
                        <div class="selection">
                            <select formControlName="searchType" class="form-select border-0 border-warning"
                                (ngModelChange)="onSearchTypeChange($event)">
                                <option [value]="'products'" [selected]="form.get('searchType').value === 'products'">
                                    Productos
                                </option>
                                <option [value]="'companies'" [selected]="form.get('searchType').value === 'companies'">
                                    Compañías
                                </option>
                            </select>
                        </div>
                        <div class="search d-flex">
                            <input type="search" placeholder="Buscar..." (input)="onSearchInput()"
                                formControlName="searchTerm" class="form-control">
                            <button class="btn btn-bg send_search rounded-0" type="submit">
                                <i class="fa-solid fa-magnifying-glass" style="color: #ffffff;"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-auto d-none d-sm-none d-lg-flex">
                <div class="elements row_one d-flex align-items-center gap-3">
                    <a *ngIf="!(auth.isLoggedIn() | async)" routerLink="login" class="text-light">Iniciar sesión</a>
                    <a *ngIf="!(auth.isLoggedIn() | async)" routerLink="register" class="text-light">Registrarse</a>
                </div>
                <div class="dropdown d-none d-lg-inline" *ngIf="auth.isLoggedIn() | async">
                    <button class="btn btn-bg text-light dropdown-toggle" type="button" id="profileMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="span"><svg xmlns="" fill="none" viewBox="0 0 23 21" height="21" width="23"
                                class="svg-icon">
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    d="M1.97742 19.7776C4.45061 17.1544 7.80838 15.5423 11.5068 15.5423C15.2053 15.5423 18.5631 17.1544 21.0362 19.7776M16.2715 6.54229C16.2715 9.17377 14.1383 11.307 11.5068 11.307C8.87535 11.307 6.74212 9.17377 6.74212 6.54229C6.74212 3.91082 8.87535 1.77759 11.5068 1.77759C14.1383 1.77759 16.2715 3.91082 16.2715 6.54229Z">
                                </path>
                            </svg></span> Perfil
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profileMenuButton">
                        <li *ngIf="auth.isLoggedIn() | async"><a class="dropdown-item text-black"
                                routerLink="profile">Ver perfil</a></li>
                        <li *ngIf="auth.isGrocer() | async"><a class="dropdown-item text-black"
                                (click)="update_profile()">Editar perfil</a></li>
                        <hr>
                        <li *ngIf="auth.isLoggedIn() | async"><a class="dropdown-item text-danger"
                                (click)="auth.logout()">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="row w-100 justify-content-center d-flex pb-2 border-bottom align-items-center gap-4">

            <div class="col-auto elements d-flex gap-4 flex-wrap d-sm-none d-lg-flex" *ngIf="auth.isLoggedIn() | async">
                <a routerLink="/"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Inicio</a>
                <a routerLink="/search/companies"><i class="fa-solid fa-building" style="color: #ffffff;"></i>
                    Ver empresas</a>
                <a routerLink="/search/products"><i class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                    Ver productos</a>
                <a routerLink="/view/price/products"><i class="fa-solid fa-dollar-sign" style="color: #ffffff;"></i>
                    Ver precios sugeridos</a>
                <a routerLink="/create/order"><i class="fa-solid fa-clipboard" style="color: #fcfcfc;"></i>
                    Crear pedido</a>
                <a routerLink="/view/orders"><i class="fa-solid fa-book" style="color: #ffffff;"></i>
                    Ver pedidos</a>
            </div>

            <div class="col-auto elements d-flex gap-5 d-none d-lg-flex" *ngIf="!(auth.isLoggedIn() | async)">
                <a routerLink="/"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Inicio</a>
                <a (click)="searchCompanies()" style="color: #ffffff; cursor: pointer;"><i class="fa-solid fa-building"
                        style="color: #ffffff;"></i>
                    Encontrar empresas</a>
                <a (click)="searchProducts()" style="color: #ffffff; cursor: pointer;"><i
                        class="fa-solid fa-basket-shopping" style="color: #ffffff;"></i>
                    Encontrar productos</a>
            </div>

            <!-- <hr style="color: #ffffff;"> -->
        </div>

        <div class="row w-100 justify-content-between d-flex align-items-center gap-4">

            <div *ngIf="!(auth.isLoggedIn() | async)" class="col-auto d-lg-inline d-sm-none">
                <form class="d-flex gap-4" [formGroup]="form_location" (ngSubmit)="filter_location()">
                    <div class="location d-flex align-items-center gap-2">
                        <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                        <div class="elements_location d-flex bg-light">
                            <div class="department">
                                <select formControlName="department" (ngModelChange)="selected_department($event)"
                                    class="form-select">
                                    <option value="" disabled selected>Seleccionar</option>
                                    <option *ngFor="let department of departments" [ngValue]="department.name">
                                        {{ department.name }}
                                    </option>
                                </select>
                            </div>
                            <div class="city">
                                <select formControlName="city" class="form-select">
                                    <option value="" disabled selected>Seleccionar</option>
                                    <option *ngFor="let city of cities" [value]="city.name">{{ city.name }}</option>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-bg text-light rounded-0">
                                Cambiar
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div *ngIf="auth.isLoggedIn() | async" class="col-auto d-lg-inline">
                <div class="location d-flex align-items-center gap-2">
                    <i class="fa-solid fa-location-dot" style="color: #ffffff;"></i>
                    <div class=" d-flex gap-3 text-light">
                        <span>Departamento</span>
                        <span>|</span>
                        <span>Ciudad</span>
                    </div>
                </div>
            </div>


            <div class="col-auto d-lg-none  d-sm-none d-lg-flex">
                <div *ngIf="!(auth.isLoggedIn() | async)" class="elements d-flex align-items-center gap-3">
                    <a *ngIf="!(auth.isLoggedIn() | async)" routerLink="login" class="text-light">Iniciar sesión</a>
                    <a *ngIf="!(auth.isLoggedIn() | async)" routerLink="register" class="text-light">Registrarse</a>
                </div>

                <div class="d-lg-none d-flex">
                    <button class="bg-transparent border-0 " type="button" data-bs-toggle="offcanvas"
                        data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="fa-solid fa-bars"
                            style="color: #ffffff;"></i>
                    </button>
                </div>

                <div class="dropdown" *ngIf="auth.isLoggedIn() | async">
                    <button class="btn btn-bg text-light dropdown-toggle" type="button" id="profileMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="span"><svg xmlns="" fill="none" viewBox="0 0 23 21" height="21" width="23"
                                class="svg-icon">
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    d="M1.97742 19.7776C4.45061 17.1544 7.80838 15.5423 11.5068 15.5423C15.2053 15.5423 18.5631 17.1544 21.0362 19.7776M16.2715 6.54229C16.2715 9.17377 14.1383 11.307 11.5068 11.307C8.87535 11.307 6.74212 9.17377 6.74212 6.54229C6.74212 3.91082 8.87535 1.77759 11.5068 1.77759C14.1383 1.77759 16.2715 3.91082 16.2715 6.54229Z">
                                </path>
                            </svg></span> Perfil
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profileMenuButton">
                        <li *ngIf="auth.isLoggedIn() | async"><a class="dropdown-item text-black"
                                routerLink="profile">Ver
                                perfil</a></li>
                        <li *ngIf="auth.isGrocer() | async"><a class="dropdown-item text-black"
                                (click)="update_profile()">Editar perfil</a></li>
                        <hr>
                        <li *ngIf="auth.isLoggedIn() | async"><a class="dropdown-item text-danger"
                                (click)="auth.logout()">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <nav *ngIf="(auth.isCompany() | async) || (auth.isProvider() | async)"
        class="navbar navbar-expand-lg navbar-light flex-column gap-5">
        <div class="row w-100 justify-content-between align-items-center gap-2">
            <div class="col-auto logo">
                <a href="#">ProveerTen</a>
            </div>
            <div class=" col-auto elements d-flex gap-4 align-items-center">
                <a routerLink="/panel"><i class="fa-solid fa-house" style="color: #ffffff;"></i> Panel</a>
                <div class="dropdown">
                    <button class="btn btn-bg text-light dropdown-toggle" type="button" id="profileMenuButton"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="span"><svg xmlns="" fill="none" viewBox="0 0 23 21" height="21" width="23"
                                class="svg-icon">
                                <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="white"
                                    d="M1.97742 19.7776C4.45061 17.1544 7.80838 15.5423 11.5068 15.5423C15.2053 15.5423 18.5631 17.1544 21.0362 19.7776M16.2715 6.54229C16.2715 9.17377 14.1383 11.307 11.5068 11.307C8.87535 11.307 6.74212 9.17377 6.74212 6.54229C6.74212 3.91082 8.87535 1.77759 11.5068 1.77759C14.1383 1.77759 16.2715 3.91082 16.2715 6.54229Z">
                                </path>
                            </svg></span> Perfil
                    </button>
                    <ul class="dropdown-menu" aria-labelledby="profileMenuButton">
                        <li *ngIf="auth.isLoggedIn() | async"><a class="dropdown-item text-black"
                                routerLink="profile">Ver
                                perfil</a></li>
                        <li *ngIf="auth.isCompany() | async"><a class="dropdown-item text-black"
                                (click)="update_profile()">Editar perfil</a></li>
                        <hr>
                        <li *ngIf="auth.isLoggedIn() | async"><a class="dropdown-item text-danger"
                                (click)="auth.logout()">Cerrar sesión</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light flex-column gap-4"
        *ngIf="((auth.isCompany() | async ) || (auth.isProvider() | async))">

    </nav>

</div>