
<div class="superNav border-bottom py-2 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 centerOnMobile">
                <select class="me-3 border-0 bg-light">
                    <option value="en-us">EN-US</option>
                </select>
                <span class="d-none d-lg-inline-block d-md-inline-block d-sm-inline-block d-xs-none me-3">
                    <p class="d-inline-block p-3" *ngIf="auth.isCompany() | async">¡Hi Company!</p>
                    <p class="d-inline-block p-3" *ngIf="auth.isProvider() | async">¡Hi Provider!</p>
                    <p class="d-inline-block p-3" *ngIf="auth.isGrocer() | async">¡Hi Grocer!</p>
                </span>
                <span class="me-3"><i class="fa-solid fa-phone me-1 text-warning"></i>
                    <p class="d-inline-block p-3" *ngIf="auth.isLoggedIn() | async">Gracias por ser parte de nuestra
                        familia</p>
                </span>
                <a class="d-inline-block p-3 nav-link"  *ngIf="!(auth.isLoggedIn() | async)">
                    Unete a nuestra familia
                </a>
            </div>
        </div>
    </div>
</div>
<nav class="navbar navbar-expand-lg bg-white sticky-top navbar-light p-3 shadow-sm">
    <div class="container">
        <a class="navbar-brand" href="#"><i class="fa-solid fa-shop me-2"></i> <strong>Proveerten</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="mx-auto my-3 d-lg-none d-sm-block d-xs-block">
            <div class="input-group">
                <span class="border-warning input-group-text bg-warning text-white"><i
                        class="fa-solid fa-magnifying-glass"></i></span>
                <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                <button class="btn btn-warning text-white">Buscar</button>
            </div>
        </div>
        <div class=" collapse navbar-collapse" id="navbarNavDropdown">
            <div class="ms-auto d-none d-lg-block">
                <div class="input-group">
                    <span class="border-warning input-group-text bg-warning text-white"><i
                            class="fa-solid fa-magnifying-glass"></i></span>
                    <input type="text" class="form-control border-warning" style="color:#7a7a7a">
                    <button class="btn btn-warning text-white">Buscar</button>
                </div>
            </div>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase active" aria-current="page" *ngIf="(!(auth.isCompany() | async) && !(auth.isProvider() | async))" routerLink="/" >Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" *ngIf="auth.isLoggedIn() | async"
                    (click)="view_profile()" >Ver perfil</a>
                </li>
            </ul>
            <ul class="navbar-nav ms-auto ">
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" *ngIf="!(auth.isLoggedIn() | async)"
                    routerLink="login"><i class="fa-solid fa-cart-shopping me-1"></i>
                        Log in</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" *ngIf="!(auth.isLoggedIn() | async)" routerLink="register"><i class="fa-solid fa-circle-user me-1"></i>
                        Sign up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-2 text-uppercase" *ngIf="auth.isLoggedIn() | async" routerLink="login"
                    (click)="auth.logout()"><i class="fa-solid fa-circle-user me-1"></i>
                        Log out</a>
                </li>
            </ul>
        </div>
    </div>
</nav>