<nav>

    <a href="#">ProveerTen</a>

    <ul>
        <li *ngIf="(!(auth.isCompany() | async) && !(auth.isProvider() | async))"><a routerLink="/">Home</a></li>
    </ul>

    <ul>
        <li *ngIf="!(auth.isLoggedIn() | async)"><a routerLink="login">Log in</a></li>
        <li *ngIf="!(auth.isLoggedIn() | async)"><a routerLink="register">Sign up</a></li>
        <li *ngIf="auth.isLoggedIn() | async"><a routerLink="login" (click)="auth.logout()">Log out</a></li>
    </ul>

    <p *ngIf="auth.isLoggedIn() | async">Este es un mensaje para los usuarios</p>
    <p *ngIf="!(auth.isLoggedIn() | async)">Este es un mensaje para los No usuarios</p>

    <p *ngIf="auth.isCompany() | async">¡Hi Company!</p>
    <p *ngIf="auth.isProvider() | async">¡Hi Provider!</p>
    <p *ngIf="auth.isGrocer() | async">¡Hi Grocer!</p>

    <p *ngIf="auth.isLoggedIn() | async">{{auth.getId()}}</p>

    <button *ngIf="auth.isLoggedIn() | async" (click)="view_profile()">Ver perfil</button>

</nav>