<div class="container p-5">

    <button class="btn btn-primary my-3" (click)="goBack(auth.getRole())">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M10 3.5a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v9a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-2a.5.5 0 0 1 1 0v2A1.5 1.5 0 0 1 9.5 14h-8A1.5 1.5 0 0 1 0 12.5v-9A1.5 1.5 0 0 1 1.5 2h8A1.5 1.5 0 0 1 11 3.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
            <path fill-rule="evenodd" d="M4.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H14.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708z"/>
        </svg> Regresar
    </button>

    <div *ngIf="(auth.isProvider() | async)">
        <h3 class="text-center mb-3">Opciones del pedido</h3>
        <div class="d-flex align-items-center justify-content-between mb-4">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <label for="exampleFormControlTextarea1" class="form-label "><strong>Estado</strong></label>
                <div class="d-flex align-items-center">
                    <select style="width: 150px;" formControlName="option" class="form-control form-control-lg" (ngModelChange)="selectedOption($event)">
                        <option disabled [ngValue]="null" selected>Estado</option>
                        <option *ngFor="let option of options" [ngValue]="option.name">{{ option.name }}</option>
                    </select>
                    <button [disabled]="!is_selected" type="submit" class="btn btn-primary ml-2">Cambiar estado</button>
                </div>
            </form>

            <button class="btn btn-danger" (click)="deleteOrder()" *ngIf="data_order && data_order[0]?.status=== 'Creado'">
                Eliminar pedido
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                </svg>
            </button>
        </div>
    </div>

    <div class="mb-4">

        <div class="bg-primary text-white p-3 rounded-top">
            <h3 class="text-center">Pedido</h3>
        </div>
        <div class="table-responsive">
            <table class="table table-bordered border-primary text-center table-hover">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Fecha de realización</th>
                        <th scope="col">Valor del pedido</th>
                        <th scope="col">Estado del pedido</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let order of data_order">
                        <td>{{ order.id_order }}</td>
                        <td>{{ order.order_date | date: 'short' }}</td>
                        <td>{{ order.total_ordered_price }}</td>
                        <td>{{ order.status }}</td>
                        <td *ngIf="order.status === 'Creado' && (auth.isGrocer() | async)">
                            <button class="btn btn-danger" (click)="deleteOrder()">
                                Eliminar pedido
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3-fill" viewBox="0 0 16 16">
                                    <path d="M11 1.5v1h3.5a.5.5 0 0 1 0 1h-.538l-.853 10.66A2 2 0 0 1 11.115 16h-6.23a2 2 0 0 1-1.994-1.84L2.038 3.5H1.5a.5.5 0 0 1 0-1H5v-1A1.5 1.5 0 0 1 6.5 0h3A1.5 1.5 0 0 1 11 1.5m-5 0v1h4v-1a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 0-.5.5M4.5 5.029l.5 8.5a.5.5 0 1 0 .998-.06l-.5-8.5a.5.5 0 1 0-.998.06m6.53-.528a.5.5 0 0 0-.528.47l-.5 8.5a.5.5 0 0 0 .998.058l.5-8.5a.5.5 0 0 0-.47-.528M8 4.5a.5.5 0 0 0-.5.5v8.5a.5.5 0 0 0 1 0V5a.5.5 0 0 0-.5-.5"/>
                                </svg>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="mb-4">
        <div class="bg-primary text-white p-3 rounded-top">
            <h3 class="text-center">Detalle del Pedido</h3>
        </div>
        <div style="max-height: 400px; overflow-y: auto;">
            <div class="table-responsive">
                <table class="table table-bordered border-primary text-center table-hover">
                    <thead class="table-primary">
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Valor del pedido</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let product of order">
                            <td>{{ product.fk_id_product }}</td>
                            <td>{{ product.quantity }}</td>
                            <td>{{ product.total_amount }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

