<div class="content">
    <div class="form">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">

            <section class="vh-100">
                <div class="container py-5 h-100">
                    <div class="row d-flex align-items-center justify-content-center h-100">
                        <div class="col-md-8 col-lg-7 col-xl-6">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
                                class="img-fluid" alt="Phone image">
                        </div>
                        <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
                            <h1 class="d-flex fs-1" style="color: orange;">Trabajador</h1>

                            <div class="form-outline mb-4">
                                <input type="email" formControlName="email_provider"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form1Example13">Correo electrónico</label>
                            </div>

                            <div class="form-outline mb-4">
                                <input type="password" formControlName="password_provider"
                                    class="form-control form-control-lg" />
                                <label class="form-label" for="form1Example23">Contraseña</label>
                            </div>
                            <p-toast position="center" key="center"></p-toast>
                            <button type="submit" pButton pRipple
                                class="btn btn-primary btn-lg btn-block d-grid gap-2 col-6 mx-auto border border-0"
                                style="background-color: orange; ">Iniciar sesión</button>
                        </div>
                    </div>
                </div>
            </section>
        </form>
    </div>
</div>