<div class="modal" *ngIf="loading">
    <div class="modal-content">
        <app-loader [loading]="loading"></app-loader>
    </div>
</div>


<div class="content h-100vh">
    <div class="container py-4  ">
        <div class="row justify-content-center ">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title mb-4 text-center">¡Crea una publicación! <i class="fa-regular fa-images"
                                style="padding-left: 14px; color: green;"></i> </h5>
                        <form [formGroup]="form" (ngSubmit)="onSubmit()">
                            <div class="mb-3">
                                <textarea class="form-control" id="text" formControlName="text" placeholder="Texto"
                                    rows="5" cols="50"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="image" class="form-label">Imagen</label>
                                <input type="file" class="form-control" id="image" formControlName="image"
                                    (change)="onFileSelected($event)">
                            </div>
                            <div *ngIf="imagePreview" class="mb-3">
                                <img appBrokenImage [src]="imagePreview" alt="Image Preview" class="img-fluid"
                                    style="max-width: 100px; height: auto;">
                            </div>
                            <div class="d-flex align-items-center justify-content-center">

                                <button class="animated-button">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-2"
                                        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path
                                            d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z" />
                                    </svg>
                                    <span class="text">Enviar</span>
                                    <span class="circle"></span>
                                    <svg xmlns="http://www.w3.org/2000/svg" class="arr-1"
                                        viewBox="0 0 512 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
                                        <path
                                            d="M498.1 5.6c10.1 7 15.4 19.1 13.5 31.2l-64 416c-1.5 9.7-7.4 18.2-16 23s-18.9 5.4-28 1.6L284 427.7l-68.5 74.1c-8.9 9.7-22.9 12.9-35.2 8.1S160 493.2 160 480V396.4c0-4 1.5-7.8 4.2-10.7L331.8 202.8c5.8-6.3 5.6-16-.4-22s-15.7-6.4-22-.7L106 360.8 17.7 316.6C7.1 311.3 .3 300.7 0 288.9s5.9-22.8 16.1-28.7l448-256c10.7-6.1 23.9-5.5 34 1.4z" />
                                    </svg>
                                </button>
                            </div>
                            <!-- 
                            <button type="submit" class="button"
                                [disabled]="!form.valid || !isValidImage">Enviar</button> -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>