<div class="container d-flex justify-content-center flex-column mt-5">
    <button (click)="goBack()">Regresar al pánel</button>
    <button class="mb-5" (click)="createProvider()">Crear proveedor</button>

    <!-- <app-view-providers></app-view-providers> -->

    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                                <tr>
                                    <th class="text-center"><span>Nombre</span></th>
                                    <th class="text-center"><span>Documento</span></th>
                                    <th class="text-center"><span>Ciudad</span></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let provider of data">
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            {{provider?.name_provider}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            {{provider?.document_provider}}
                                        </div>
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-center">
                                            {{provider?.city_provider}}
                                        </div>
                                    </td>
                                    <td class="justify-content-center" style="width: 25%; ">
                                        <a class="table-link">
                                            <button type="button" class="btn btn-warning"
                                                (click)="viewProfile(provider.document_provider)">Ver
                                                perfil</button>
                                        </a>

                                        <a class="table-link ">
                                            <button type="button" class="btn btn-success" data-mdb-ripple-init
                                                (click)="updateProvider(provider.document_provider)">Actualizar
                                                datos</button>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>