<div class="container d-flex flex-column">
    <button (click)="goBack()">Regresar al pánel</button>
    <button (click)="createProduct()">Crear producto</button>
    <!-- <app-view-products></app-view-products> -->
    <div *ngFor="let product of data">
        <table border="2px" class="container">
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Ciudad</th>
            </tr>
            <tr>
                <td>
                    {{product?.id_product}}
                </td>
                <td>
                    {{product?.name_product}}
                </td>
                <td>
                    <img appBrokenImage [src]="product.image_product" style="width: 100px; height: 100px;">
                </td>
                <td>
                    <button>Ver</button>
                </td>
                <td>
                    <button (click)="updateProduct(product.id_product)">Actualizar</button>
                </td>
                <td>
                    <button>Eliminar</button>
                </td>
            </tr>
        </table>
    </div>
    
</div>


<section style="background-color: #eee;">
    <div class="container py-5" *ngFor="let product of data">
        <div class="row">
            <div class="col-md-12 col-lg-4 mb-4 mb-lg-0">
                <div class="card text-black">
                    <img appBrokenImage [src]="product.image_product"
                        class="card-img-top" alt="iPhone" />
                    <div class="card-body">
                        <div class="text-center mt-1">
                            <h4 class="card-title">{{product?.name_product}}</h4>
                            <h6 class="text-primary mb-1 pb-3">{{product?.id_product}}</h6>
                        </div>

                        <div class="text-center">
                            <div class="p-3 mx-n3 mb-4" style="background-color: #eff1f2;">
                                <h5 class="mb-0"><button>Ver</button></h5>
                            </div>
                        </div>

                        <div class="d-flex flex-row">
                            <button type="button" class="btn btn-primary flex-fill me-1" data-mdb-ripple-color="dark" (click)="updateProduct(product.id_product)">
                                Actualizar
                            </button>
                            <button type="button" class="btn btn-danger flex-fill ms-1">Eliminar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>