/* You can add global styles to this file, and also import other style files */
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

body{
    background-color: rgb(240, 240, 240);
}

*{
    font-family: "Catamaran", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}