<div class="all is-flex is-justify-content-center ">

    <div class="card is-flex mt-6 ">
        <div class="right is-half is-flex is-flex-direction-column has-background-light">
            
            <div class="form is-flex is-flex-direction-column p-6">
                <h1 class="grocer is-size-3">Proveedor</h1>
                <div class="above is-flex is-flex-wrap-wrap is-flex-direction-row ">
                    <input class="half input" type="text" placeholder="Nombre">
                    <input class="half input" type="text" placeholder="Apellidos">
                    <input class="input is-fullwidth" type="text" placeholder="Telefono">
                </div>

                <h1 class="grocer is-size-3">Empresa</h1>

                <div class="down is-flex is-flex-wrap-wrap is-flex-direction-row">
                    <input class="half input" type="text" placeholder="NIT">
                    <div class="select">
                        <select>
                            <option>Ciudad</option>
                            <option>Bogota</option>
                            <option>Medellin</option>
                        </select>
                    </div>
                    <input class="input is-fullwidth" type="text" placeholder="Nombre de la empresa">
                    <input class="half input" type="text" placeholder="Telefono">
                    <input class="half input" type="text" placeholder="Direccion">
                    <input class="half input" type="text" placeholder="Barrio">
                    <input class="half input" type="text" placeholder="Calle">
                    <input class="half input" type="text" placeholder="Numero">
                    <input class="half input" type="text" placeholder="Apartamento">
                    <input class="input is-fullwidth" type="text" placeholder="Correo">
                    <input class="input is-fullwidth" type="text" placeholder="Contraseña">
                    <input class="input is-fullwidth" type="text" placeholder="Confirmar Contraseña">
                    <button class="button is-fullwidth has-text-white">Registrarse</button>
                </div>
            </div>
        </div>
        <div class="left is-half">

        </div>
    </div>
</div>